/* Add mobile styles for the component here.  */
@import "../../../../variables";

.search-modal-page {
  .search-header {
    background-color: $primary;
    height: 50;
    color: $text-color-white;

    Label {
      vertical-align: center;
      color: $text-color-white;
    }

    .save-search-btn {
      border-color: transparent;
      background-color: transparent;
      border-width: 1;
      width: 45;
      height: 45;
      color: $text-color-white;
      font-size: 18;
    }
  }

  .search-segmented-bar {
    background-color: $blue-light;
    selected-background-color: $primary;
  }

  .no-saved-search-icon {
    vertical-align: center;
    horizontal-align: center;
    color: $disabled;
    font-size: 100;
  }

  .no-saved-search-text {
    vertical-align: center;
    horizontal-align: center;
    color: $disabled
  }

  .action-btn {
    background-color: transparent;
    border-width: 1;

    &.active {
      background-color: $blue-light;
      border-bottom-width: 5;
      border-bottom-color: $primary;
      color: $text-color-white;
    }
  }

  .tags-container {
    background-color: lightgray;
  }

  .tag {
    border-width: 0;
    border-radius: 25;
    background-color: $blue-light;
    color: $text-color-white;
    font-size: 12;
    vertical-align: center;
    horizontal-align: center;
    //width: 130;
    &.plus {
      width: 50;
      text-align: center;
    }
  }

  ActivityIndicator {
    color: $primary;
  }
}
