<StackLayout class="page p-0 m-0 m-b-0 search-modal-page">
    <GridLayout
            verticalAlignment="center"
            class="search-header action-bar"
            rows="*"
            columns="*,auto,*">

        <Image src="res://ic_action_arrow_back" class="m-l-10 pull-left" col="0" (tap)="onClose(false)" width="25"
               height="25" loadMode="async"></Image>
        <Label col="1" class="action-bar-title" [text]="'titles.where' | i18n"></Label>

        <!--        <Label #searchBtn class="pull-right _m-r-5 fa save-search-btn btn" text="&#xf00c;" horizontalAlignment="right" col="2"></Label>-->
        <Image src="res://ic_check" class="pull-right _m-r-5 fa save-search-btn" col="0" (tap)="onClose(true)"
               horizontalAlignment="right" col="2"></Image>
    </GridLayout>
    <!--<Button text="search-location works!" class="btn btn-primary" (tap)="onClose()"></Button>-->
    <GridLayout rows="auto, 40, *">
        <SearchBar row="0" (textChange)="onTextChanged($event)" [hint]="'Vous recherhez ?'"
                   (tap)="onClose(true)"></SearchBar>
        <ScrollView orientation="horizontal" row="1" style="width: 100%">
            <StackLayout orientation="horizontal">
                <Label class="tag m-l-2 m-r-2 m-t-2 m-b-2 p-8 fa" textWrap="false"
                       *ngFor="let place of selectedPlaces" [text]="place + ' &#xf057;'"
                       (tap)="handleOnSelectedTownTap(place)"></Label>
            </StackLayout>
        </ScrollView>

        <!--<WrapLayout class="tags-container" row="1">
            <Label class="tag m-l-2 m-r-8 m-t-2 m-b-2 p-8 fa" textWrap="false"
                   *ngFor="let place of selectedPlaces.slice(0, 2)" [text]="place + ' &nbsp;&nbsp; &#xf057;'"
                   (tap)="handleOnSelectedTownTap(place)"></Label>
            <Label *ngIf="selectedPlaces?.length > 2" class="tag m-r-8 m-t-2 m-b-2 p-5 plus"
                   [text]="selectedPlaces.length - 2 + '+'"></Label>
        </WrapLayout>-->
        <ActivityIndicator row="2" [busy]="searchingPlace" *ngIf="searchingPlace" width="50"
                           height="50"></ActivityIndicator>

        <ListView *ngIf="!searchingPlace" class="list-group" [items]="searchedPlaces" row="2">
            <ng-template let-place="item" let-i="index">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <CheckBox (checkedChange)="handlePropertyTypeChange($event, place)" [checked]="selectedPlaces.includes(place)"
                              [text]="place" class="m-b-10" col="0"
                              fillColor="#00796b"></CheckBox>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>
