/* Add mobile styles for the component here.  */
@import "../../../variables";

.chat-bubble {
  margin-right: 10;
  margin-left: 10;
  margin-top: 5;

  .snippet {
    font-size: 11;
  }

  &.unread {
    Label {
      font-weight: bold;
    }
  }

  .date {
    font-size: 10;
    font-style: italic;
    margin-left: 10;
  }

  .content {
    font-size: 14;
    width: 70%;
    padding: 10;
    background-color: #f1f2f3;
    border-radius: 25;
  }

  &.is-me {
    .date {
      horizontal-align: right;
      margin-right: 10;
    }

    .content {
      background-color: lighten(#00796b, 20%);
      color: #ffffff;
    }
  }

  &.is-sending {
    background-color: red !important;
  }

  .letter-icon {
    font-size: 18;
    font-weight: bold;
    padding: 15;
    text-align: center;
    border-radius: 50;
    background-color: #f0e9e9;
    color: $primary;
    width: 55;
    height: 55;
    vertical-align: center;
    horizontal-align: center;
  }

  .badge {
    border-radius: 50;
    background-color: red;
    color: $text-color-white;
    font-weight: bold;
    padding-top: 2;
    width: 20;
    height: 20;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
  }
}
