<GridLayout (tap)="openChat()" [class.unread]="conversation?.stats[user.id]?.unread_count > 0" [row]="1"
            class="chat-bubble p-t-5 p-b-5"
            columns="auto,*,auto" pageTransition="slide"
            rows="auto,auto"
>
    <Label [text]="nameInitials()" class="letter-icon" col="0" horizontalAlignment="center"
           row="0" rowSpan="2" verticalAlignment="center"></Label>

    <Label [text]="receiver?.name" class="list-group-item-heading m-l-5 name" col="1" horizontalAlignment="left" row="0"
           verticalAlignment="middle"></Label>

    <Label [text]="conversation?.snippet" class="m-l-5 snippet" col="1" horizontalAlignment="left" row="1"
           textWrap="false" verticalAlignment="middle"></Label>

    <Label *ngIf="conversation?.stats[user.id]?.unread_count > 0"
           [text]="conversation?.stats[user.id].unread_count > 9 ? '9+' : conversation?.stats[user.id].unread_count"
           class="badge"
           col="2" horizontalAlignment="right"
           row="0" verticalAlignment="middle"></Label>

    <Label [text]="conversation?.date | moment" class="date" col="2" horizontalAlignment="right" row="1"
           verticalAlignment="middle"></Label>
</GridLayout>

<!--<Label [text]="conversation?.stats[user.id] | json"></Label>-->
