/* Add mobile styles for the component here.  */
@import "../../../variables.scss";

ActivityIndicator {
  z-index: 10;
}

.action-items {
  color: blue;
}
.action-item {
  Label {
    color: $text-color-white;
    font-size: 19;
    padding: 10;
  }
}

.actions-divider {
  background-color: $primary;
  height: 100;
  color: $text-color-white;

  Label {
    color: $text-color-white;
    font-weight: bold;
    font-size: 15;

    &.type,
    &.space {
      font-weight: bold;
    }
  }
}

.title {
  color: $text-color-white;
}

Button {
  background-color: $primary;
  color: $text-color-white;

  &.secondary {
    background-color: $secondary;
  }
}

.top-view {
  z-index: 0;
  background-color: #FFFFFF;
}

.contact-btn {
  padding: 0;
  margin: 0;
  background-color: $primary;
  color: $text-color-white;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.title {
  color: $primary;
  font-weight: bold;
}

.description {
  .text {
    font-size: 14;
    border-bottom-width: 1;
    border-bottom-color: lightgray;
  }
}

.useful-info,
.commodities {
  .commodity {
    padding: 7;
    margin-top: 2;
    border-width: 0;
    border-radius: 25;
    background-color: $blue-light;
    color: $text-color-white;
    font-size: 12 !important;
    vertical-align: center;
    horizontal-align: center;
  }

  .option {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8;
    background-color: #eceff1;
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 5;
    width: 70%;
    color: $text-color-black;
  }

  .value {
    margin-bottom: 8;
    margin-left: 10;
    font-size: 15;
    vertical-align: center;
    font-weight: bold;
  }

  .text {
    border-bottom-width: 1;
    border-bottom-color: lightgray;
  }
}

.btn-action {
  color: $primary;
  width: 45;
  height: 45;
  background-color: #FFFFFF;
  border-width: 0;
  border-radius: 50;
  margin-right: 10;
  margin-left: 5;

  &.favorite-icon {
    &.selected {
      background-color: $primary;
      color: #FFFFFF;
    }
  }
}

.images-count {
  margin-top: 200;
  text-align: left;
  color: $text-color-white;
  font-size: 15;
  font-weight: bold;
}

.action-bar {
  .btn-action {
    color: $primary;
    background-color: #FFFFFF;
    width: 45;
    height: 45;
    border-radius: 50;

    &.favorite-icon {
      width: 35;
      height: 35;
      margin-right: 8;

      &.selected {
        background-color: $secondary;
        color: #FFFFFF;
        border-width: 1;
      }
    }
  }
}

.no-product {
  .fa {
    font-size: 150;
    color: $disabled;
    opacity: 0.7;
  }

  .label {
    font-size: 16;
    color: $disabled;
    opacity: 0.7;
  }
}

.contact-info {
  Label {
    margin-bottom: 8;
  }
}

.contact-name {
  font-size: 16;
  color: $primary;
  margin-top: 10;
}

.contact-email,
.contact-phone,
.contact-location {
  font-size: 13;
  color: $disabled;
}
