<!-- Parallex effext got from https://play.nativescript.org/?template=play-ng&id=DXJkOJ&v=9 -->
<ActionBar class="action-bar">
    <NavigationButton [text]="'buttons.goBack' | i18n" android.systemIcon="ic_menu_back"
                      (tap)="onBackTap($event)"></NavigationButton>
    <Label class="action-bar-title _title" [text]="product?.title"></Label>
    <!--<ActionItem (tap)="onFavoriteClicked(product)"
                [visibility]="!actionsVisible? 'visible' : 'collapsed'" ios.position="right">
        <Label
                *ngIf="!(isFavouritesBusy$ | async)" [class.selected]="isFavourite"
                class="btn fa btn-action action-item favorite-icon p-r-8"
                text="&#xf005;"></Label>
        <ActivityIndicator *ngIf="(isFavouritesBusy$ | async)" height="45" [busy]="true"></ActivityIndicator>
    </ActionItem>-->
    <ActionItem class="action-item" ios.position="right" (tap)="showSettingsMenu()">
        <Label #settingsMenu class="fa" text="&#xf142;" color="white"></Label>
    </ActionItem>
</ActionBar>

<ActivityIndicator *ngIf="itemLoading || !loaded" [busy]="itemLoading || !loaded" width="60" height="60"></ActivityIndicator>

<StackLayout *ngIf="loaded && !itemLoading && !product" class="no-product" horizontalAlignment="center"
             verticalAlignment="center">
    <Label class="fa" verticalAlignment="center" horizontalAlignment="center" [text]="'&#xf05a;'"></Label>
    <Label class="label" [text]="'hints.noProducts' | i18n" horizontalAlignment="center"></Label>
</StackLayout>

<GridLayout [rows]="'*, auto'" class="p-0" *ngIf="!itemLoading && product && loaded" backgroundColor="white">
    <ScrollView row="0" class="page" #scrollView (scroll)="onScroll($event, scrollView, topView)">
        <StackLayout>
            <AbsoluteLayout width="100%" height="350" backgroundColor="lightgray">
                <StackLayout
                    #topView
                    (swipe)="handleSwipeOnImage($event)"
                    (tap)="showRemoteImages()"
                    [backgroundImage]="product?.images[0]"
                    class="top-view"
                    height="300"
                    left="0"
                    style="
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;"
                    top="0"
                    width="100%">
                    <Gradient
                            (swipe)="handleSwipeOnImage($event)"
                            colors="rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1)" direction="to top"
                            padding="10">
                        <Label [text]="(currentImageIndex + 1) + '/' + product?.images?.length"
                               class="images-count p-10"></Label>
                    </Gradient>
                </StackLayout>

                <GridLayout rows="auto" columns="*,auto,auto,auto" top="200" width="100%">
                    <Label col="0"></Label>
                    <Button [title]="'Share'" [visibility]="false && actionsVisible ? 'visible' : 'collapsed'" class="btn-action"
                            col="1"
                    >
                        <FormattedString>
                            <Span text="&#xf1e0;" class="fa test"></Span>
                        </FormattedString>
                    </Button>

                    <Button (tap)="launchMaps()" #mapsButton [visibility]="actionsVisible ? 'visible' : 'collapsed'"
                            class="btn-action"
                            col="2"
                    >
                        <FormattedString>
                            <Span text="&#xf041;" class="fa"></Span>
                        </FormattedString>
                    </Button>

                    <Button
                            col="3"
                            (tap)="onFavoriteClicked(product)"
                            *ngIf="!(isFavouritesBusy$ | async)"
                            [class.selected]="isFavourite"
                            [visibility]="actionsVisible ? 'visible' : 'collapsed'"
                            class="btn-action favorite-icon">
                        <FormattedString>
                            <Span text="&#xf005;" class="fa"></Span>
                        </FormattedString>
                    </Button>
                    <ActivityIndicator
                            col="3"
                            *ngIf="(isFavouritesBusy$ | async)"
                            class="btn-action favorite-icon" [busy]="true"></ActivityIndicator>
                </GridLayout>


                <GridLayout left="0" top="250" width="100%" class="actions-divider p-10" marginTop="0" columns="*,auto"
                            rows="*,*,*">
                    <Label class="type fa" row="0" col="0" [text]="'&#xf1ad; ' + (('product.types.' + product?.type) | i18n)"></Label>
                    <Label
                            class="space"
                            row="1"
                            col="0"
                            *ngIf="product?.options?.area !== 'n/a' && product?.options?.nb_rooms !== 'n/a'"
                            [text]="'common.surfaceInfo' | i18n:[product?.options?.nb_rooms, product?.options?.area]"
                    ></Label>
                    <Label class="address fa" row="2" col="0" [text]="'&#xf276; ' + product?.location?.city"></Label>
                    <Label class="price" row="1" rowSpan="2" col="1" [text]="product?.price  | currency:'XAF':'symbol':'4.2-2':'fr'"></Label>
                </GridLayout>
            </AbsoluteLayout>

            <StackLayout class="p-10 description" width="100%" backgroundColor="white">
                <!--Add your page content here-->
                <Label textWrap="true" [text]="'common.description' | i18n" class="h4 title p-t-5 p-b-5"></Label>
                <Label textWrap="true" class="text p-b-5"
                       [text]="product?.description"></Label>
            </StackLayout>

            <StackLayout class="p-10 useful-info" width="100%" backgroundColor="white">
                <!--Add your page content here-->
                <Label textWrap="true" [text]="'common.usefulInformation' | i18n" class="h4 title p-t-5 p-b-5"></Label>

                <GridLayout class="text p-b-5" columns="auto,auto" rows="*,*,*,*,*,*,*,*,*,*">
                    <Label col="0" row="0" class="option" [text]="'product.options.reference' | i18n"></Label>
                    <Label col="1" row="0" class="value m-l-4" [text]="product?.options?.reference"></Label>

                    <Label col="0" row="1" class="option" [text]="'common.nb_months_rental_deposit' | i18n"></Label>
                    <Label col="1" row="1" class="value m-l-4" [text]="product?.options?.nb_months_rental_deposit"></Label>

                    <Label col="0" row="2" class="option" [text]="'product.options.nb_salons' | i18n"></Label>
                    <Label col="1" row="2" class="value m-l-4" [text]="product?.options?.nb_salons"></Label>

                    <Label col="0" row="3" class="option" [text]="'product.options.nb_rooms' | i18n"></Label>
                    <Label col="1" row="3" class="value m-l-4" [text]="product?.options?.nb_rooms"></Label>

                    <Label col="0" row="4" class="option" [text]="'product.options.nb_kitchens' | i18n"></Label>
                    <Label col="1" row="4" class="value m-l-4" [text]="product?.options?.nb_kitchens"></Label>

                    <Label col="0" row="5" class="option" [text]="'product.options.nb_bating_rooms' | i18n"></Label>
                    <Label col="1" row="5" class="value m-l-4" [text]="product?.options?.nb_bating_rooms"></Label>

                    <Label col="0" row="6" class="option" [text]="'product.options.parking' | i18n"></Label>
                    <Label col="1" row="6" class="value m-l-4" [text]="(product?.options?.parking) ? ('common.Yes' | i18n) : ('common.no' | i18n)"></Label>

                    <Label col="0" row="7" class="option" [text]="'product.options.nb_floors' | i18n"></Label>
                    <Label col="1" row="7" class="value m-l-4" [text]="product?.options?.nb_floors"></Label>

                    <Label col="0" row="8" class="option" [text]="'hints.area' | i18n"></Label>
                    <Label col="1" row="8" class="value m-l-4" [text]="product?.options?.area"></Label>
                </GridLayout>
            </StackLayout>

            <!-- TODO add collapsible commodities -->
            <StackLayout class="p-10 commodities">
                <Label class="title h4" [text]="'common.commodities' | i18n"></Label>
                <WrapLayout>
                    <Label
                            class="value commodity"
                            *ngFor="let item of product?.commodities; let i = index;"
                            [text]="('product.commodities.' + item) | i18n"
                            flexGrow="1"
                    ></Label>
                </WrapLayout>
                <!--<ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <Label
                                class="value commodity"
                                *ngFor="let item of product?.commodities; let i = index;"
                                [text]="('product.commodities.' + item) | i18n"
                                flexGrow="1"
                        ></Label>
                    </StackLayout>
                </ScrollView>-->
            </StackLayout>

            <StackLayout class="p-10 user-block">
                <Label class="h4 title" [text]="'common.ownerContact' | i18n"></Label>
                <StackLayout class="contact-info">
                    <Label class="contact-name fa" [text]="'&#xf007; &nbsp;' + product?.owner?.name"></Label>
                    <Label class="contact-email fa" [text]="'&#xf0e0; &nbsp;' + product?.owner?.email"></Label>
                    <Label class="contact-phone fa" [text]="'&#xf095; &nbsp;' + product?.owner?.phoneNumber"
                           *ngIf="product?.owner?.phoneNumber?.trim()?.length"></Label>
                    <Label class="contact-location fa"
                           [text]="'&#xf276; &nbsp;' + product?.owner?.location?.city"></Label>
                    <Label class="contact-location fa" [text]="'&#xf0ac; &nbsp;' + product?.owner?.website"></Label>
                    <Button row="2" col="0" colSpan="2" class="btn secondary" (tap)="openUserPostsModal()"
                            *ngIf="isNavigatedFromHome">
                        <FormattedString>
                            <Span [text]="'&#xf002; &nbsp;&nbsp;&nbsp;' +  ('buttons.seeUserPosts' | i18n)"
                                  class="fa"></Span>
                        </FormattedString>
                    </Button>
                </StackLayout>
                <!--<GridLayout columns="auto,*" rows="*,auto,auto">
                    <Image row="0" col="0" rowSpan="2" width="150" height="150"
                           src="https://placeimg.com/640/480/any"></Image>
                    <Label row="0" col="1" class="p-5 name" [text]="product?.owner?.name"></Label>
                    <Label row="1" col="1" class="p-5 address" text="Bafoussam"></Label>

                    <Button row="2" col="0" colSpan="2" class="btn secondary">
                        <FormattedString>
                            <Span [text]="'&#xf002;' +  ('buttons.seeUserPosts' | i18n)" class="fa"></Span>
                        </FormattedString>
                    </Button>
                </GridLayout>-->
            </StackLayout>
        </StackLayout>
    </ScrollView>

    <Button height="60" row="1" *ngIf="(!user || user?.id !== product?.owner?.id) && authService.isLoggedIn()"
            [text]="'buttons.contactOwner' | i18n" class="p-10 m-0 contact-btn" (tap)="contactOwner()"></Button>
    <Button height="60" row="1" *ngIf="(!user || user?.id !== product?.owner?.id) && !authService.isLoggedIn()"
            [text]="'buttons.loginToContact' | i18n" class="p-10 m-0 contact-btn" (tap)="_requestLogin()"></Button>
</GridLayout>
