<ActionBar class="action-bar">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://menu"
                ios.position="left"></ActionItem>

    <!--<ActionItem *ngIf="selectedBarIndex !== 1" class="action-items notification" (tap)="gotToNotifications()">
            <AbsoluteLayout *ngIf="receivedNewNotification" class="notification_container">
                <Label #notifications class="fa notification-icon" text="&#xf0f3;"></Label>
                <Label top="0" class="badge" [text]="unreadNotificationsCount$ | async"
                       *ngIf="unreadNotificationsCount$ | async"></Label>
            </AbsoluteLayout>
            <AbsoluteLayout *ngIf="!receivedNewNotification">
                <Label #notifications class="fa notification-icon" text="&#xf0f3;"></Label>
                <Label top="0" class="badge" [text]="unreadNotificationsCount$ | async"
                       *ngIf="unreadNotificationsCount$ | async"></Label>
            </AbsoluteLayout>
        </ActionItem>

        <ActionItem *ngIf="selectedBarIndex !== 1" class="action-items action-filter">
            <Label #filterIcon (tap)="openFilterPopupMenu()" class="fa" text="&#xf160;"></Label>
        </ActionItem>

        <ActionItem *ngIf="selectedBarIndex === 1" class="action-items map-style">
            <Label #mapStyleSelect (tap)="onShowChangeMapStylePopup()" class="fa" text="&#xf06e;"></Label>
        </ActionItem>-->
    <Label class="action-bar-title" [text]="'titles.chat' | i18n"></Label>
</ActionBar>

<ActivityIndicator [busy]="true" *ngIf="areConversationsLoading$ | async" width="50"></ActivityIndicator>

<StackLayout backgroundColor="white" *ngIf="!(areConversationsLoading$ | async) && !conversationsList?.length" class="no-conversations"
             horizontalAlignment="center" verticalAlignment="center">
    <Label class="fa" horizontalAlignment="center" text="&#xf075;" verticalAlignment="center"></Label>
    <label [text]="'hints.noConversations' | i18n" textWrap="true"></label>
</StackLayout>

<!--(loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
        loadOnDemandBufferSize="5"-->

<ListView backgroundColor="white"
    #conversationsListView
    *ngIf="(!(areConversationsLoading$ | async)) && conversationsList?.length"
    [items]="conversationsList" class="list-group">
    <ng-template let-item="item" let-index="index">
        <im-conversation-list-item
                [conversation]="item"
                [index]="index"
                [receiver]="item?.sender?.id === loggedInUser?.id ? item?.receiver : item?.sender"
                [user]="loggedInUser"
        ></im-conversation-list-item>
    </ng-template>
</ListView>

<!--<RadListView
    #conversationsListView
    *ngIf="(!(areConversationsLoading$ | async)) && conversationsList?.length"
    (pullToRefreshInitiated)="onPullToRefresh($event)"
    [items]="conversationsList"
    loadOnDemandMode="None"
    pullToRefresh="true">
    <ListViewLinearLayout tkListViewLayout>
        <ng-template tkListItemTemplate let-item="item" let-index="index">
            <im-conversation-list-item
                    [conversation]="item"
                    [receiver]="item?.sender?.id === loggedInUser?.id ? item?.receiver : item?.sender"
                    [user]="loggedInUser"
                    [index]="index"
            ></im-conversation-list-item>
        </ng-template>
    </ListViewLinearLayout>
</RadListView>-->

<!--<ScrollView orientation="horizontal">
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTap($event)" style="height:1250px">
            <ng-template let-country="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image [src]="country.imageSrc" class="thumb img-circle"></Image>
                    <Label [text]="country.name" class="list-group-item-heading" verticalAlignment="center"
                           style="width: 60%"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </ScrollView>-->

