/* Add mobile styles for the component here.  */
@import "../../../variables";

.action-bar {
  .action-items {
    Label {
      color: $text-color-white;
      font-size: 19;
      padding: 10;
    }

    &.notification {
      .badge {
        font-size: 12;
        position: absolute;
        background-color: red;
        color: $text-color-white;
        border-radius: 50;
        width: 8;
        height: 8;
        left: 20;
        top: 8
      }

      .notification_container {
        //animation: ring 5s linear;
      }
    }
  }
}

.no-products-found {
  .fa {
    font-size: 150;
    margin-bottom: 10;
    color: $disabled;
  }

  .label {
    font-size: 20;
    color: $disabled;
  }
}

.search-status {

  .search-text {
    font-size: 15;
    font-weight: bold;
    color: $secondary;
  }

  Button {
    font-size: 25;
    color: $secondary;
    height: 50;
    width: 50;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;

    &.save-current-search {
      color: $primary;
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
