<ActionBar class="action-bar">
    <NavigationButton (tap)="onDrawerButtonTap()" android:contentDescription="menu" icon="res://menu"
                      ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://menu"
                ios.position="left"></ActionItem>

    <ActionItem *ngIf="selectedBarIndex !== 1" class="action-items action-search" ios.position="right">
        <Label #searchIcon (tap)="onShowSearchWindow()" class="fa" text="&#xf002;"></Label>
    </ActionItem>

    <ActionItem *ngIf="selectedBarIndex !== 1" class="action-items notification" (tap)="gotToNotifications()"
                ios.position="right">
        <AbsoluteLayout class="notification_container">
            <Label #notificationIcon class="fa notification-icon" text="&#xf0f3;"></Label>
            <Label top="0" class="badge" [text]="unreadNotificationsCount"
                   *ngIf="unreadNotificationsCount"></Label>
        </AbsoluteLayout>
        <!--<AbsoluteLayout *ngIf="!receivedNewNotification">
            <Label #notifications class="fa notification-icon" text="&#xf0f3;"></Label>
            <Label top="0" class="badge" [text]="unreadNotificationsCount"
                   *ngIf="unreadNotificationsCount"></Label>
        </AbsoluteLayout>-->
    </ActionItem>

    <ActionItem *ngIf="selectedBarIndex !== 1" class="action-items action-filter" ios.position="right">
        <Label #filterIcon (tap)="openFilterPopupMenu()" class="fa" text="&#xf160;"></Label>
    </ActionItem>

    <ActionItem *ngIf="selectedBarIndex === 1" class="action-items map-style" ios.position="right">
        <Label #mapStyleSelect (tap)="onShowChangeMapStylePopup()" class="fa" text="&#xf06e;"></Label>
    </ActionItem>

    <GridLayout columns="*" rows="*">
        <GridLayout columns="auto,*,*,*" rows="*">
            <Label class="action-bar-title text-white" *ngIf="!(areProductsLoading$ | async)"
                   [text]="'titles.totalProducts' | i18n:[products?.length, totalProductsCount]" col="0"></Label>
        </GridLayout>
    </GridLayout>
</ActionBar>

<GridLayout backgroundColor="white" class="page page-content" columns="*" [rows]="!isSearchView ? '*,40' : '55,*,40'">
    <!--<GridLayout height="50" backgroundColor="maroon" col="0" row="0"></GridLayout>-->
    <GridLayout *ngIf="isSearchView" columns="*,30,30" col="0" class="search-status m-0 p-0"
                verticalAlignment="center">
        <Label col="0" [text]="'hints.searchResultsFor' | i18n:[currentSearch?.name]"
               class="btn search-text"></Label>
        <Button (tap)="onCloseSearchView()" *ngIf="!currentSearch?.id || true" col="1" text="&#xf057;" class="fa btn btn-outline"></Button>
        <Button *ngIf="!currentSearch?.id" (tap)="onSaveSearch()" col="2" text="&#xf058;"
                class="fa btn btn-outline save-current-search"></Button>
    </GridLayout>
    <GridLayout [row]="isSearchView ? 1 : 0" columns="*" rows="*"
                [visibility]="selectedBarIndex === 0 ? 'visible' : 'collapsed'"
                backgroundColor="white">

        <GridLayout row="0" tkExampleTitle tkToggleNavButton>
            <ActivityIndicator *ngIf="(areProductsLoading$ | async) && !refreshingData" [busy]="true"
                               horizontalAlignment="center"
                               text="Loading ..." verticalAlignment="center"></ActivityIndicator>

            <StackLayout *ngIf="!(areProductsLoading$ | async) && !products?.length" class="no-products-found"
                         verticalAlignment="center" horizontalAlignment="center">
                <Label text="&#xf002;" class="fa" verticalAlignment="center" horizontalAlignment="center"></Label>
                <Label [text]="'hints.noProducts' | i18n" class="label" verticalAlignment="center"
                       horizontalAlignment="center"></Label>
            </StackLayout>

            <!-- TODO if tour hast not yet started, use posts.slice(0,2) to prevent user from scrolling  -->
            <!--<ListView class="list-group"
                      [items]="products"
                      *ngIf="(!(areProductsLoading$ | async)) || refreshingData"
                      [loadMoreItems]="onLoadMoreItemsRequested()">
                <ng-template let-product="item" let-index="index">
                    <im-post-item
                            [index]="index"
                            [product]="product"
                            [favourite]="getFavourite(product)"
                    ></im-post-item>
                </ng-template>
            </ListView>-->
            <RadListView #listView
                         (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
                         (pullToRefreshInitiated)="onPullToRefresh($event)"
                         *ngIf="(!(areProductsLoading$ | async)) || refreshingData"
                         [items]="products"
                         loadOnDemandBufferSize="2"
                         loadOnDemandMode="Auto"
                         pullToRefresh="true">
                <ListViewLinearLayout tkListViewLayout
                                      itemInsertAnimation="Default"
                                      itemDeleteAnimation="Default"
                                      itemHeight="251">
                    <ng-template tkListItemTemplate let-item="item" let-index="index">
                        <StackLayout>
                            <im-post-item
                                    [index]="index"
                                    [product]="item"
                                    [favourite]="getFavourite(item)"
                            ></im-post-item>
                        </StackLayout>
                    </ng-template>
                </ListViewLinearLayout>
            </RadListView>
        </GridLayout>
    </GridLayout>

    <GridLayout [visibility]="selectedBarIndex === 1 ? 'visible' : 'collapsed'" row="0" col="0"
                *ngIf="selectedBarIndex === 1"
                rows="*">
        <!--<Label [text]="products?.length" horizontalAlignment="center" verticalAlignment="center"></Label>-->

        <im-maps *ngIf="selectedBarIndex === 1"
                 [mapViewStyle]="mapViewStyle"
                 [products]="products"
        ></im-maps>
    </GridLayout>

    <FlexboxLayout [row]="isSearchView ? 2 : 1" col="0" row="2" alignContent="center">
        <SegmentedBar
                (selectedIndexChange)="onSelectedIndexChange($event)"
                [(ngModel)]="selectedBarIndex"
                [items]="myItems"
                [selectedIndex]="0"
                class="main-segmented-bar"
                ios:color="white"
                android:color="white"
                [selectedBackgroundColor]="'#022734'"></SegmentedBar>
    </FlexboxLayout>
</GridLayout>
