/* Add mobile styles for the component here.  */
@import "../../../variables";

.post-item {
  height: 250;
  width: auto;
  margin: 1;

  .sold-out {
    color: $error;
    rotate: -45;
  }

  .image-loading-indicator {
    color: $primary;
    vertical-align: center;
    horizontal-align: center;
    width: 50;
    height: 50;
    margin: 0;
    padding: 0;
  }

  Image {
    height: 250;
    width: auto;
  }

  .favorite-icon {
    font-size: 12;
    color: #737373;
    margin-top: 10;
    margin-right: 10;
    border-width: 0;
    border-color: #FFFFFF;
    border-radius: 50;
    background-color: #FFFFFF;
    width: 35;
    height: 35;

    &.selected {
      background-color: $primary;
      color: #FFFFFF;
    }
  }

  .actions {
    width: auto;

    Label {
      background-color: rgba(0, 0, 0, 0.66);
      width: auto;
      height: 20;
      padding-right: 8;
      padding-left: 8;
      vertical-align: center;
      horizontal-align: center;
      color: $text-color-white;
      padding-top: 3;
      border-radius: 2;
      text-transform: uppercase;
    }
  }

  .details {
    border-width: 0;

    Label {
      color: $text-color-white;
      font-weight: bold;
      font-size: 14;

      &.town {
        text-transform: capitalize;
      }

      &.type {
        font-size: 12;
      }

      &.price {
        font-size: 16;
      }

      &.date,
      &.images-count {
        font-size: 11;
      }
    }
  }
}
