<GridLayout [row]="1" class="post-item" columns="*" (tap)="viewPostDetails()"
            pageTransition="slide" rows="auto,auto,auto" (swipe)="onItemSwipe($event)">
    <ActivityIndicator rowSpan="3" class='image-loading-indicator' row="0" col="0" busy="true"
                       *ngIf="image.isLoading"></ActivityIndicator>
    <Image #image [src]="product?.images[0]"
           [stretch]="product?.images[0] === 'res://icon' ? 'aspectFit' : 'aspectFill'"
           col="0"
           height="250"
           loadMode="async"
           row="0" rowSpan="3"></Image>
    <!--<Label *ngIf="!product?.published" class="h4 sold-out m-t-10"
           [text]="'common.propertyNotPublished' | i18n" row="0" rowSpan="2" verticalAlignment="center" horizontalAlignment="center"></Label>-->
    <GridLayout row="0" col="0" rows="auto" columns="auto, *, auto" class="actions">
        <Label [text]="('common.' + product?.transactionType) | i18n" col="0" class="m-t-10 m-l-10"></Label>

        <Button #favoriteBtn
                android:contentDescription="Add property to favourites button"
                *ngIf="!isFavouriteBusy"
                col="2"
                row="0"
                [class.selected]="isFavorite"
                (tap)="onFavoriteClicked(product)"
                class="favorite-icon m-t-10 m-r-10 fa" text="&#xf005;"
        ></Button>
        <ActivityIndicator *ngIf="isFavouriteBusy" [busy]="true" class="favorite-icon m-t-10 m-r-10" col="2" height="35"
                           row="0" width="35"></ActivityIndicator>
    </GridLayout>

    <Gradient
            class="details"
            col="0"
            colors="rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1)" direction="to top"
            padding="10"
            row="2">
        <GridLayout columns="*,*" rows="auto,auto,auto,auto">
            <Label col="0" row="1" [text]="product?.location?.city || 'n/a'" class="town"></Label>
            <Label col="0" row="2" [text]="('product.types.' + product?.type) | i18n" class="type"></Label>
            <Label col="0" row="3" [text]="product?.price  | currency:'XAF':'symbol':'4.2-2':'fr'"
                   class="price"></Label>

            <Label *ngIf="product?.images?.length"
                   [text]="(product?.images?.length > 5 ? '5+' : product?.images?.length) + ' &#xf03e;'"
                   class="fa m-t-10 m-l-10 images-count" col="1"
                   color="#ffffff" fontSize="12"
                   horizontalAlignment="right" row="2"></Label>
            <Label col="1" row="3" [text]="('common.publishedAt' | i18n) + ' ' + (product?.updatedAt | moment)"
                   horizontalAlignment="right" class="date"></Label>
        </GridLayout>
    </Gradient>
</GridLayout>
