<GridLayout ios:visibility="collapsed" class="saved-search-hint" rows="auto,auto,auto" *ngIf="visible">
    <Label [text]="('hints.hint' | i18n) + '&nbsp; &#xf0eb;'" class="fa m-b-10 font-weight-bold" row="0"></Label>
    <Label [text]="'hints.savedSearchSwipeAction' | i18n" row="1" textWrap="true"></Label>
    <Button row="2" [text]="'buttons.gotIt' | i18n" horizontalAlignment="right" (tap)="dismissToast()"></Button>
</GridLayout>
