/* Add mobile styles for the component here.  */
@import "../../../variables";

.saved-search-hint {
  height: auto;
  padding: 15;
  background-color: $secondary;
  border-radius: 10;
  margin-right: 10;
  margin-left: 10;
  margin-top: 10;

  Label {
    color: $text-color-white;
    font-size: 14;
  }

  Button {
    font-size: 12;
    color: $text-color-white;
    border-width: 0;
    background-color: transparent;
  }
}
