<GridLayout class="page" rows="*,auto">
    <Button text="&#xf05b;" horizontalAlignment="right" class="center-map-btn fa" (tap)="centerMap()"></Button>
    <GridLayout row="0" rowSpan="2">
        <HereMap
            #map
            (scroll)="onMapDrag($event)"
            (mapReady)="onMapReady($event)"
            [disableScroll]="false"
            [disableZoom]="false"
            [latitude]="location?.latitude || 0"
            [longitude]="location?.longitude|| 0"
            [mapStyle]="mapViewStyle"
            [zoomLevel]="8"
            class="map"
            id="map">
        </HereMap>
    </GridLayout>

    <!--<GridLayout row="1" height="150" backgroundColor="red"></GridLayout>-->

    <im-post-item
            *ngIf="selectedMarker?.id && selectedProduct?.id"
            [index]="selectedMarker?.id"
            [previewImage]="selectedProduct?.images[0]"
            [product]="selectedProduct"
            [favourite]="getFavourite(selectedProduct)"
            class="map-property"
            row="0"
    ></im-post-item>
</GridLayout>
