/* Add mobile styles for the component here.  */
@import "../../../variables";

.center-map-btn {
  height: 50;
  width: 50;
  border-radius: 50;
  vertical-align: top;
  background-color: $primary;
  margin-top: 5;
  margin-right: 5;
  color: $text-color-white;
  font-size: 15;
}
