<ActionBar class="action-bar" title="">
    <NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>
    <Label class="action-bar-title" [text]="'titles.settings' | i18n"></Label>
</ActionBar>

<ActivityIndicator width="75" [busy]="true" *ngIf="!pageLoaded"></ActivityIndicator>

<StackLayout class="no-settings" *ngIf="!authService.isLoggedIn()" horizontalAlignment="center"
             verticalAlignment="center">
    <Label class="fa" text="&#xf00d;"></Label>
    <Label class="h3" text="401"></Label>
</StackLayout>

<StackLayout *ngIf="pageLoaded && authService.isLoggedIn()" class="settings" backgroundColor="white">
    <GridLayout class="profile-block m-b-10" columns="auto,*,auto" rows="auto,auto,auto,auto,auto,auto">
        <Label class="h4 text-primary p-10" [text]="'titles.profile' | i18n" row="0" col="0"></Label>
        <!--<Label *ngIf="!isEditingProfile" (tap)="isEditingProfile = true" [text]="'&#xf044;'" class="p-10 fa edit-profile-btn" col="2"
               horizontalAlignment="right" row="0" verticalAlignment="center"></Label>-->
       <!-- <Label *ngIf="isEditingProfile" (tap)="isEditingProfile = false" [text]="'&#xf0c7;'" class="p-10 fa edit-profile-btn" col="2"
               horizontalAlignment="right" row="0" verticalAlignment="center"></Label>-->

        <Label class="label p-10 font-weight-bold" row="1" col="0" [text]="'common.email' | i18n"></Label>
        <Label class="label value p-10" row="1" col="2" [text]="me?.email"></Label>

        <Label class="label p-10 font-weight-bold" row="2" col="0" [text]="'common.name' | i18n"></Label>
        <Label [text]="me?.name" [visibility]="isEditingProfile ? 'collapsed' : 'visible'" class="label value p-10" col="2"
               row="2"></Label>
        <TextField [hint]="'common.name' | i18n" [visibility]="!isEditingProfile ? 'collapsed' : 'visible'"
                   class="input input-border p-10" col="2" returnKeyType="next"
                   row="2"></TextField>

        <Label class="label p-10 font-weight-bold" row="3" col="0" [text]="'common.phoneNumber' | i18n"></Label>
        <Label [text]="me?.phoneNumber" [visibility]="isEditingProfile ? 'collapsed' : 'visible'" class="label value p-10" col="2"
               row="3"></Label>
        <TextField [hint]="'common.phoneNumber' | i18n" [visibility]="!isEditingProfile ? 'collapsed' : 'visible'"
                   class="input input-border p-10" col="2" returnKeyType="next" keyboardType="phone"
                   row="3"></TextField>

        <Label class="label p-10 font-weight-bold" row="4" col="0" [text]="'common.website' | i18n"></Label>
        <Label [text]="me?.website" [visibility]="isEditingProfile ? 'collapsed' : 'visible'" class="label value p-10" col="2"
               row="4"></Label>
        <TextField [hint]="'common.website' | i18n" [visibility]="!isEditingProfile ? 'collapsed' : 'visible'"
                   class="input input-border p-10" col="2" returnKeyType="next" keyboardType="url"
                   row="4"></TextField>

    </GridLayout>

    <GridLayout columns="auto,*,auto" rows="auto,auto,auto,auto,auto,auto"
                class="p-10 m-b-10">
        <Label class="h4 text-primary" [text]="'titles.notifications' | i18n" colSpan="3" row="0" col="0"></Label>

        <GridLayout row="1" col="0" colSpan="3" columns="auto,*,auto" rows="*,*,*">
            <Label (tap)="showTooltip(activeSearchTip, 'tooltips.activeSearch', 'bottom')"
                   class="settings__option m-t-15 fa" col="0" row="0">
                <FormattedString>
                    <Span [text]="'common.activeSearch' | i18n" class="fa"></Span>
                    <Span class="fa"
                          text="&nbsp;&#xf05a;"></Span>
                </FormattedString>
            </Label>
            <Label #activeSearchTip col="1" class="placeholder" horizontalAlignment="left"></Label>
            <!--<Label horizontalAlignment="left" [text]="'common.activeSearch' | i18n" row="0" col="0" class="settings__option m-t-15 fa"></Label>
            <Label #activeSearchTip text=" &#xf05a;" row="0" col="1" class="hint fa m-t-15"
                   (tap)="showTooltip(activeSearchTip, 'tooltips.activeSearch')"></Label>-->

            <Switch
                #activeSearchSwitch
                (checkedChange)="handleSwitchChange($event, 'activeSearch')"
                [checked]="settings?.activeSearch"
                class="bg-primary m-t-15"
                col="3"
                offBackgroundColor="red"
                opacity="1" row="0" width="100"></Switch>

            <GridLayout class="m-t-10" col="0" colSpan="3" columns="*,auto" row="1"
                        rows="auto,auto">
                <Slider #radiosSlider
                        (valueChange)="onRadiusSliderValueChange($event)"
                        [value]="sliderRadiusValue"
                        [isEnabled]="settings?.activeSearch"
                        [minValue]="1"
                        backgroundColor="#00796b" class="m-r-0 p-r-0" col="0"
                        color="#00796b" maxValue="100" minValue="1"></Slider>
                <Label [text]="(settings?.activeSearchRadius | number:'2.2') + 'km'" class="h5" col="1" row="0"
                       textWrap="true"></Label>
            </GridLayout>

            <Label (tap)="showTooltip(autoDeleteNotificationTip, 'tooltips.autoDeleteNotifications')"
                   class="m-t-15 settings__option fa" col="0"
                   row="2" textWrap="false">
                <FormattedString>
                    <Span [text]="'common.autoDeleteNotifications' | i18n" class="fa"></Span>
                    <Span class="fa"
                          text="&nbsp;&#xf05a;"></Span>
                </FormattedString>
            </Label>
            <Label #autoDeleteNotificationTip class="placeholder" col="1" row="2" horizontalAlignment="left"></Label>
            <!--<Label #autoDeleteNotificationTip text=" &#xf05a;" row="2" col="1" class="hint fa m-t-15"
                   (tap)="showTooltip(autoDeleteNotificationTip, 'tooltips.autoDeleteNotifications')"></Label>-->
            <Switch
                    (checkedChange)="handleSwitchChange($event, 'autoDeleteNotifications')"
                    offBackgroundColor="red"
                    [checked]="settings?.autoDeleteNotifications"
                    class="bg-primary m-t-15"
                    horizontalAlignment="right"
                    row="2" col="3"></Switch>
        </GridLayout>
    </GridLayout>

    <GridLayout class="m-b-10 activities-block" rows="auto,auto,auto" columns="auto,*,auto">
        <Label class="h4 text-primary p-10" [text]="'titles.activities' | i18n" row="0" col="0"></Label>

        <Label class="label p-10" row="1" col="0" [text]="'common.totalPostCount' | i18n"></Label>
        <Label class="label value p-10" row="1" col="2" [text]="postsCount"></Label>

        <Button (tap)="seeMyProperties()"
                [colSpan]="3" [text]="'buttons.viewMyPosts' | i18n" class="btn m-t-20" col="0"
                horizontalAlignment="center"
                row="2" verticalAlignment="center"></Button>
    </GridLayout>
</StackLayout>

