/* Add mobile styles for the component here.  */
@import "../../../variables";

.settings {
  &__option {
    width: 200;
  }

  &__option,
  Switch {
    vertical-align: center;
    horizontal-align: center;
    font-size: 17;
  }

  FormattedString {
    border-top-width: 1;
  }

  .hint {
    font-size: 15;
  }

  .placeholder {
  }
  .profile-block {
    .edit-profile-btn {
      font-size: 16;
    }

    .label {
      horizontal-align: left;
      font-weight: 400;
    }
    .value {
      horizontal-align: right;
      opacity: .6;
    }

    TextView {
      border-width: .5;
      border-color: $disabled;
      color: $text-color-black;
    }
  }
}
