/* Add mobile styles for the component here.  */
@import "../../../variables";

.agency-item {
  height: auto;
  padding: 10;
  border-top-width: 0.1;
  border-top-color: #f1f2f3;

  Label {
    font-size: 15;

    &.date,
    &.posts-count {
      vertical-align: center;
      horizontal-align: right;
      font-style: italic;
      font-size: 12;
    }

    &.description {
      font-size: 12;
    }
  }

  &.unread {
    background-color: #f1f2f3;

    Label {
      font-weight: bold;
    }
  }
}
