<GridLayout #agencyItem (tap)="showMenu($event)" [row]="1" class="agency-item"
            columns="auto,*,auto"
            pageTransition="slide" rows="auto,auto">
    <Label [text]="agency?.name" row="0" col="0" class="h4"></Label>
    <Label [text]="agency?.website" row="1" col="0" class="description" textWrap="false"></Label>
    <!--    <Label [text]="notification?.date | moment" col="1" row="0" class="date" horizontalAlignment="right"></Label>-->
    <!--<StarRating #starRating
                horizontalAlignment="right"
                (loaded)="onRatingsLoaded($event)"
                [isIndicator]="true"
                android:scaleX=".3"
                android:scaleY=".3"
                class="pull-right rates"
                emptyBorderColor="gray"
                emptyColor="gray"
                filledBorderColor="#00796b"
                filledColor="#00796b"
                horizontalAlignment="right"
                max="5"
                value="2"
                col="2"
                row="0"
                backgroundColor="black"
    ></StarRating>-->

    <Label [text]="'common.postsCount' | i18n:[agency?.postsCounts]" class="posts-count" row="1" col="2"
           horizontalAlignment="right"></Label>

</GridLayout>
