<!-- Parallex effext got from https://play.nativescript.org/?template=play-ng&id=DXJkOJ&v=9 -->
<ActionBar class="action-bar" title="">
    <NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>
    <Label class="action-bar-title" [text]="'titles.notifications' | i18n"></Label>
</ActionBar>

<StackLayout backgroundColor="white" *ngIf="!notifications?.length" horizontalAlignment="center" verticalAlignment="center"
             class="no-notifications form">
    <Label *ngIf="!notifications?.length" class="fa" horizontalAlignment="center" text="&#xf1f6;"
           verticalAlignment="center"></Label>
    <label [text]="'hints.loginToViewNotifications' | i18n" *ngIf="!authService.isLoggedIn()" textWrap="true"></label>
    <label [text]="'hints.noNotifications' | i18n" *ngIf="authService.isLoggedIn()" textWrap="true"></label>
    <Button *ngIf="!authService.isLoggedIn()" (tap)="onLoginRequested()" [text]="'buttons.login' | i18n"
            class="btn btn-primary btn-rounded-sm"></Button>
</StackLayout>
<GridLayout backgroundColor="white" row="0" tkExampleTitle tkToggleNavButton *ngIf="notifications?.length">
    <ListView class="list-group" [items]="notifications">
        <ng-template let-index="index" let-notification="item">
            <im-notification-item
                    [notification]="notification"
                    (onShowItemMenu)="onShowItemMenu($event, notification)"
                    [isRead]="notification.status === NotificationsStatusEnum.READ"></im-notification-item>
        </ng-template>
    </ListView>
    <!--<RadListView
            *ngIf="notifications?.length"
            [items]="notifications">
        <ng-template tkListItemTemplate let-item="item" let-index="index">
            <im-notification-item
                    [isRead]="index !== 5"></im-notification-item>
        </ng-template>
    </RadListView>-->
</GridLayout>
