<ActionBar class="action-bar" title="">
    <!--<NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>-->
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" [text]="'titles.agencies' | i18n"></Label>
</ActionBar>

<StackLayout verticalAlignment="center" *ngIf="!agencies?.length && !(areAgenciesLoading$ | async)" class="no-searches">
    <Label class="fa" horizontalAlignment="center" text="&#xf1ad;" verticalAlignment="center"></Label>
    <label [text]="'hints.noAgencies' | i18n" textWrap="true"></label>
</StackLayout>

<ActivityIndicator horizontalAlignment="center" verticalAlignment="center" [busy]="true"
                   *ngIf="areAgenciesLoading$ | async"></ActivityIndicator>

<RadListView
    #listView
    *ngIf="(!(areAgenciesLoading$ | async))"
    (loadMoreDataRequested)="onLoadMoreAgencies($event)"
    [items]="agencies"
    loadOnDemandMode="Auto"
    loadOnDemandBufferSize="5">
    <ListViewLinearLayout
            tkListViewLayout
            itemInsertAnimation="Default"
            itemDeleteAnimation="Default"
            itemHeight="60">
        <ng-template tkListItemTemplate let-agency="item" let-index="index">
            <StackLayout>
                <im-agency-item
                        [agency]="agency"
                        [index]="index"
                ></im-agency-item>
            </StackLayout>
        </ng-template>
    </ListViewLinearLayout>
</RadListView>

<!--<ListView (itemTap)="onItemTap($event)" *ngIf="!(areAgenciesLoading$ | async)"
          [items]="agencies"
          [loadMoreItems]="onLoadMoreAgencies()"
          class="list-group">
    <ng-template let-agency="item" let-index="index">
        <im-agency-item
                [agency]="agency"
                [index]="index"
        ></im-agency-item>
    </ng-template>
</ListView>-->
