@import "../app";
//@import '~nativescript-filter-select/styles.css';

.sidedrawer-header {
  background-color: $primary !important;

  Label {
    color: $text-color-black;
  }
}

.sidedrawer-content {
  background-color: $night-dark;

  Label {
    color: $text-color-white;
  }

  .fa,
  .selected {
    color: $primary;
  }
}

.sidedrawer-footer {
  border-top-width: 1;
  height: 60;
  background-color: $secondary;
  padding: 8;
}

