<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *, auto" class="sidedrawer sidedrawer-left" *ngIf="loaded">
        <StackLayout row="0" class="sidedrawer-header-section">
            <Image src="res://logo" class="" width="150" height="150" verticalAlignment="center"
                   horizontalAlignment="center" loadMode="async"></Image>
        </StackLayout>

        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <!--TODO why too many layouts? -->
                <GridLayout (tap)="onNavItemTap('/home')" [class.selected]="isComponentSelected('/home')"
                            class="sidedrawer-list-item" columns="auto, *">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" [text]="'menu.home' | i18n" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout (tap)="onNavItemTap('/chat')"
                            [class.selected]="isComponentSelected('/chat')"
                            *ngIf="(loggedInUser$ | async)"
                            class="sidedrawer-list-item" columns="auto, *, auto">
                    <Label col="0" text="&#xf075;" class="fa"></Label>
                    <Label col="1" [text]="'menu.chat' | i18n" class="p-r-10"></Label>
                    <Label *ngIf="unreadCounter" [fontSize]="15" [text]="unreadCounter > 9 ? '9+' : unreadCounter"
                           class="badge messages-count" col="2"
                           color="#ffffff" horizontalAlignment="center"
                           verticalAlignment="center"></Label>
                </GridLayout>

                <GridLayout (tap)="onNavItemTap('/favourites')" [class.selected]="isComponentSelected('/favourites')"
                            class="sidedrawer-list-item" columns="auto, *">
                    <Label col="0" text="&#xf005;" class="fa"></Label>
                    <Label col="1" [text]="'menu.favorite' | i18n" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout (tap)="onNavItemTap('/searches')" [class.selected]="isComponentSelected('/searches')"
                            class="sidedrawer-list-item" columns="auto, *">
                    <Label col="0" text="&#xf002;" class="fa"></Label>
                    <Label col="1" [text]="'menu.search' | i18n" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout (tap)="onNavItemTap('/agencies')" [class.selected]="isComponentSelected('/agencies')"
                            class="sidedrawer-list-item" columns="auto, *">
                    <Label col="0" text="&#xf1ad;" class="fa"></Label>
                    <Label col="1" [text]="'menu.agencies' | i18n" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout (tap)="onNavItemTap('/publish')" *ngIf="(loggedInUser$ | async)"
                            [class.selected]="isComponentSelected('/publish')"
                            class="sidedrawer-list-item" columns="auto, *">
                    <Label col="0" text="&#xf067;" class="fa"></Label>
                    <Label col="1" [text]="'menu.publish' | i18n" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout (tap)="onNavItemTap('/settings')" *ngIf="loggedInUser$ | async"
                            [class.selected]="isComponentSelected('/settings')"
                            class="sidedrawer-list-item" columns="auto, *">
                    <Label col="0" text="&#xf013;" class="fa"></Label>
                    <Label col="1" [text]="'menu.settings' | i18n" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout *ngIf="!(loggedInUser$ | async)" columns="auto, *" class="sidedrawer-list-item"
                            (tap)="loginRequest()">
                    <Label col="0" text="&#xf007;" class="fa"></Label>
                    <Label col="1" [text]="'menu.login' | i18n" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>

        <GridLayout row="2" class="sidedrawer-footer" columns="auto,*, auto,auto">
            <Image android:contentDescription="Logout button" (tap)="logout()" *ngIf="loggedInUser$ | async" col="0" height="55" horizontalAlignment="center"
                   src="res://ic_settings_power" verticalAlignment="center" width="55" loadMode="async"></Image>
            <Image android:contentDescription="Language selector fr" (tap)="setAppCurrentLanguage('fr')" *ngIf="getAppCurrentLanguage() === 'en'" col="2"
                   height="55" horizontalAlignment="center" src="res://ic_flag_fr" verticalAlignment="center"
                   width="55" loadMode="async"></Image>
            <Image android:contentDescription="Language selector en" (tap)="setAppCurrentLanguage('en')" *ngIf="getAppCurrentLanguage() === 'fr'" col="3"
                   height="55" horizontalAlignment="center" src="res://ic_flag_en" verticalAlignment="center"
                   width="55" loadMode="async"></Image>
        </GridLayout>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
