<GridLayout rows="auto,*">
    <GridLayout row="0" columns="auto,*" height="60" class="action-bar">
        <Image (tap)="onClose()" android:contentDescription="back" class="m-l-10 pull-left" col="0"
               height="25" loadMode="async" src="res://ic_action_arrow_back"
               width="25"></Image>
        <Label [text]="currentItem + ' / ' + items?.length" class="action-bar-title" verticalAlignment="center"
               horizontalAlignment="center" col="1"></Label>
    </GridLayout>
    <GridLayout row="1">
        <!--<ImageSwipe [items]="items" imageUrlProperty="url"
                    [allowZoom]="true"
                    [pageNumber]="pageNumber" (pageChanged)="pageChanged($event)" backgroundColor="rgba(255,255,255,0.44)">
        </ImageSwipe>-->
        <GridLayout>
            <Carousel #mainCarousel debug="false" [items]="items" height="100%" width="100%" color="white"
                      android:indicatorAnimation="worm" indicatorColor="#00796b" indicatorOffset="0, -10"
                      showIndicator="true"
                      scrollEnabled="true"
                      (pageChanged)="pageChanged($event)">
                <CarouselItem *ngFor="let item of items" [backgroundColor]="'#ffffff'" verticalAlignment="middle">
                    <GridLayout>
                        <Image #image [src]="item.url" stretch="aspectFill" class="img-thumbnail" loadMode="async"></Image>
                        <!--<Label [text]="'Please wait ... : ' + image.isLoading" verticalAlignment="center" horizontalAlignment="center" *ngIf="image.isLoading || true" class="loading h4"></Label>-->
                        <!--<ActivityIndicator rowSpan="3" class='image-loading-indicator' busy="true" *ngIf="image.isLoading" height="50"> </ActivityIndicator>-->
                        <!--<Label [text]="item.url + ' &ndash;&gt; ' + image.isLoading" horizontalAlignment="center" backgroundColor="#50000000" height="30"></Label>-->
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>
    </GridLayout>

</GridLayout>
