<GridLayout class="auth-modal"
            rows="58,*,10"
            [height]="selectedBarIndex === 0 ? 500 : 650"
>

    <SegmentedBar
            (selectedIndexChange)="onSelectedIndexChange($event)"
            [(ngModel)]="selectedBarIndex"
            [items]="tabs"
            [selectedIndex]="selectedBarIndex"
            class="main-segmented-bar"
            row="0"
            selectedBackgroundColor="#022734"></SegmentedBar>

    <!-- LOGIN -->
    <GridLayout row="1" *ngIf="selectedBarIndex === 0" class="login-container form" rows="*, auto">
        <StackLayout horizontalAlignment="center" row="0" verticalAlignment="center">
            <TextField android:contentDescription="Login field" [(ngModel)]="authUser.email" [hint]="'hints.email' | i18n" class="input input-border"
                       keyboardType="email"></TextField>
            <TextField android:contentDescription="Password field" [(ngModel)]="authUser.password" secure="true" [hint]="'hints.password' | i18n"
                       class="input input-border"></TextField>

            <Button android:contentDescription="Login button" (tap)="login()" *ngIf="!(isLoggingIn$ | async)"
                    [class.btn-outline]="!authUser.isLoginValid()"
                    [class.btn-primary]="authUser.isLoginValid()"
                    [isEnabled]="authUser.isLoginValid()"
                    [text]="'buttons.login' | i18n" class="btn btn-rounded-lg"
                    width="200"></Button>
            <Button android:contentDescription="Login button" *ngIf="(isLoggingIn$ | async)" [text]="'buttons.processing' | i18n"
                    class="btn btn-primary btn-rounded-lg" [isEnabled]="false"
                    width="200"></Button>

            <Label [text]="'hints.forgotPassword' | i18n" class="forgot-password h6"></Label>
        </StackLayout>
        <Label row="1" horizontalAlignment="center" verticalAlignment="center" class="h6 close-btn"
               [text]="'buttons.cancel' | i18n" (tap)="onClose()"></Label>
    </GridLayout>
    <!-- LOGIN END-->

    <!-- REGISTER -->
    <GridLayout row="1" *ngIf="selectedBarIndex === 1" class="register-container form" rows="*, auto">
        <StackLayout [visibility]="registerSuccess ? 'visible': 'collapsed'" class="register-success">
            <Label textWrap="true" verticalAlignment="bottom" horizontalAlignment="center" [text]="('hints.registerSuccess') | i18n"></Label>
            <Label class="fa icon" horizontalAlignment="center" text="&#xf058;" verticalAlignment="center"></Label>
            <Button (tap)="logMeIn()" verticalAlignment="bottom" horizontalAlignment="center" [text]="'buttons.logMeIn' | i18n"></Button>
        </StackLayout>
        <ScrollView *ngIf="!registerSuccess">
            <StackLayout horizontalAlignment="center" row="0"
                         verticalAlignment="top">

                <StackLayout class="errors" [visibility]="authErrors?.length ? 'visible': 'collapsed'">
                    <Label [text]="('errors.' + err) | i18n" *ngFor="let err of authErrors;" class="error"></Label>
                </StackLayout>

                <TextField [(ngModel)]="authUser.email" [hint]="('hints.email' | i18n) + '*'" class="input input-border"
                           keyboardType="email"></TextField>
                <TextField [(ngModel)]="authUser.name" [hint]="('hints.userName' | i18n) + '*'" class="input input-border"></TextField>
                <TextField [(ngModel)]="authUser.password" [hint]="('hints.password' | i18n) + '*'" class="input input-border"
                           secure="true"></TextField>
                <TextField [(ngModel)]="authUser.passwordConfirm" [hint]="('hints.passwordConfirm' | i18n) + '*'"
                           class="input input-border" secure="true"></TextField>

                <GridLayout columns="auto,*,auto" class="_p-l-30 p-r-30 m-b-10 account-type">
                    <Label [text]="'hints.areYouAnAgency' | i18n" col="0"></Label>

                    <Switch [checked]="true" col="2" [(ngModel)]="authUser.is_professional"></Switch>
                </GridLayout>

                <StackLayout [visibility]="authUser.is_professional ? 'visible' : 'collapsed'">
                    <TextField [(ngModel)]="authUser.phone" [hint]="('hints.phoneNumber' | i18n) + '*'"
                               class="p-r-30 input input-border" keyboardType="number"></TextField>

                    <TextField [(ngModel)]="authUser.website" [hint]="'hints.webSite' | i18n"
                               class="p-r-30 input input-border" keyboardType="url"></TextField>

                    <TextField [(ngModel)]="authUser.location.city" [hint]="('hints.city' | i18n) + '*'"
                               class="p-r-30 input input-border"></TextField>

                    <GridLayout columns="*,*" class="long-lat-input-container">
                        <TextField [(ngModel)]="authUser.location.latitude" [hint]="'hints.latitude' | i18n" class="lat input input-border _m-r-2"
                                   col="0" keyboardType="number"></TextField>
                        <TextField [(ngModel)]="authUser.location.longitude" [hint]="'hints.longitude' | i18n" class="long input input-border _m-l-2"
                                   col="1" keyboardType="number"></TextField>
                    </GridLayout>
                </StackLayout>

                <Button *ngIf="!(isRegistering$ | async) && !authUser.isRegisterValid()"
                        [text]="'buttons.register' | i18n"
                        class="btn btn-primary _btn-rounded-lg m-r-20 m-l-20 m-t-24"
                        width="200" isEnabled="false"></Button>
                <Button *ngIf="!(isRegistering$ | async) && authUser.isRegisterValid()" (tap)="register()"
                        [text]="'buttons.register' | i18n"
                        class="btn btn-primary _btn-rounded-lg m-r-20 m-l-20 m-t-24"
                        width="200"></Button>
                <Button isEnabled="false" *ngIf="(isRegistering$ | async)" [text]="'buttons.processing' | i18n" class="btn btn-primary _btn-rounded-lg"
                        width="200"></Button>
            </StackLayout>
        </ScrollView>

        <Label row="1" horizontalAlignment="center" verticalAlignment="center" class="h6 close-btn"
               [text]="'buttons.cancel' | i18n" (tap)="onClose()"></Label>
    </GridLayout>
    <!-- REGISTER END -->

    <Label row="2" class="footer"></Label>
</GridLayout>
