/* Add mobile styles for the component here.  */
@import "../../../variables";

.auth-modal {
  width: 400;
  //height: 500;
  background-color: #FFFFFF;

  .close-btn {
    color: $disabled;
    font-weight: bold;
    margin-bottom: 5;
  }

  .login-container,
  .register-container {
    padding: 10;

    TextField {
      width: 300;
      margin-bottom: 15;
      border-radius: 5;
      font-size: 12;
      height: 40;
      padding: 5;
      color: black;
      placeholder-color: #a2a2a2;
    }
    .account-type,
    .agency-form{
      padding-left: 40;
      Label {
        font-size: 14;
        color: black;
      }
    }

    Button {
      border-radius: 5;
    }

    Button:disabled {
      background-color: #a2a2a2;
    }

    .long-lat-input-container {
      margin-right: 35;
      margin-left: 35;
      TextField {
        margin: 1;
      }
    }

    .errors {
      width: 300;
      vertical-align: center;
      horizontal-align: center;
      background-color: red;
      border-radius: 5;
      margin-bottom: 10;
      padding-left: 10;

      Label {
        color: black;
        margin-bottom: 5;
        font-size: 12;
      }
    }

    .register-success {
      vertical-align: center;
      horizontal-align: center;
      width: 300;
      .icon {
        color: $primary;
        font-size: 80;
      }
    }
  }
  .footer {
    background-color: $primary;
  }

  .forgot-password {
    font-size: 13;
    color: $primary;
    vertical-align: center;
    horizontal-align: center;
  }
}
