<ActionBar class="action-bar">
    <NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back"
                      (tap)="onBackTap($event)"></NavigationButton>

    <Label class="action-bar-title title" [text]="title || (products && products[0]?.owner?.name)"></Label>
</ActionBar>

<StackLayout *ngIf="!products?.length" class="no-properties" horizontalAlignment="center" verticalAlignment="center" backgroundColor="white">

    <ActivityIndicator *ngIf="loading" [busy]="loading" verticalAlignment="center" horizontalAlignment="center"></ActivityIndicator>

    <Label *ngIf="!loading" class="fa" horizontalAlignment="center" text="&#xf002;"
           verticalAlignment="center"></Label>
    <label *ngIf="!loading" [text]="'hints.noProducts' | i18n" textWrap="true"></label>
</StackLayout>

<GridLayout class="page p-0 m-0 m-b-0 custom-posts-list-modal-page" *ngIf="products?.length" backgroundColor="white">
    <GridLayout *ngIf="loading">
        <ActivityIndicator [busy]="loading" height="60" width="60"></ActivityIndicator>
    </GridLayout>

    <ListView class="list-group" [items]="products">
        <ng-template let-item="item" let-index="index">
            <im-post-item
                    [index]="index"
                    [product]="item"
                    [favourite]="getFavourite(item)"
            ></im-post-item>
        </ng-template>
    </ListView>
</GridLayout>

