/* Add mobile styles for the component here.  */
@import "../../../variables";

.custom-posts-list-modal-page {

  .action-bar-title {
    font-size: $action-title-font-size;
  }

  .action-bar {
    background-color: $primary;
    height: 50;
    color: $text-color-white;

    Label {
      vertical-align: center;
      color: $text-color-white;
    }

    .save-search-btn {
      border-color: transparent;
      border-width: 1;
      width: 45;
      height: 45;
      color: $text-color-white;
      font-size: 15;
    }
  }

  .no-saved-search-icon {
    vertical-align: center;
    horizontal-align: center;
    color: $disabled;
    font-size: 100;
  }

  .no-saved-search-text {
    vertical-align: center;
    horizontal-align: center;
    color: $disabled
  }
}
