<GridLayout [class.unread]="!isRead" [row]="1" class="notification-item"
            columns="*,auto,auto"
            pageTransition="slide" rows="auto,auto">
    <Label (tap)="viewPostDetails($event)" [text]="notification?.product?.title" row="0" col="0" class="h4"></Label>
    <Label (tap)="viewPostDetails($event)" [text]="notification?.product?.description" row="1" col="0"
           class="description" textWrap="false"></Label>
    <Label (tap)="viewPostDetails($event)" [text]="notification?.date | moment" col="1" row="0" class="date"
           horizontalAlignment="right"></Label>
    <Label (tap)="viewPostDetails($event)" [text]="'≈' + notification?.distance" class="distance" row="1" col="1"
           horizontalAlignment="right"></Label>

    <label #shopItemMenu text="&#xf142;" row="1" col="2" rowSpan="2" class="fa p-l-10 p-r-2"
           (tap)="showItemPopup()"></label>
</GridLayout>
