/* Add mobile styles for the component here.  */
@import "../../../variables";

.search-modal-page {
  .results-matches {
    font-size: 13;
    opacity: 0.6;
  }

  .action-bar-title {
    font-size: $action-title-font-size;
  }

  .search-header {
    background-color: $primary;
    height: 50;
    color: $text-color-white;

    Label {
      vertical-align: center;
      color: $text-color-white;
    }

    .save-search-btn {
      border-color: transparent;
      border-width: 1;
      width: 45;
      height: 45;
      color: $text-color-white;
    }
  }

  .search-segmented-bar {
    background-color: $blue-light;
    selected-background-color: $primary;
  }

  .no-saved-search-icon {
    vertical-align: center;
    horizontal-align: center;
    color: $disabled;
    font-size: 100;
  }

  .no-saved-search-text {
    vertical-align: center;
    horizontal-align: center;
    color: $disabled
  }

  .action-btn {
    background-color: transparent;
    border-width: 1;

    &.active {
      background-color: $blue-light;
      border-bottom-width: 5;
      border-bottom-color: $primary;
      color: $text-color-white;
    }
  }

  .label {
    font-size: 15;
  }

  .option,
  .collapse-icon {
    font-size: 16;
    font-weight: bold;
  }

  .collapse-icon {
    color: $disabled;
  }

  .divider {
    border-bottom-width: 1;
    border-bottom-color: $disabled;
    opacity: 0.4;
  }

  .option-label {
    vertical-align: center;
    font-size: 14;
  }

  .bottom-btns {
    Button {
      padding: 0;
      margin: 0;
      height: 60;
      width: 100%;
      font-size: 14;

      &.btn-primary {
        background-color: $primary;
      }

      &.btn-secondary {
      }
    }
  }

  Button {
    font-size: 14;
  }

  .btn-secondary {
    background-color: $blue-light;
    color: $text-color-white;
  }

  .swipe-right-container {
    color: white;

    #delete-view {
      background-color: $error-dark;
    }

    #execute-view {
      background-color: $secondary;
    }
  }
}
