<StackLayout (loaded)="onSearchModalLoaded($event)" class="page p-0 m-0 m-b-0 search-modal-page">
    <GridLayout
            verticalAlignment="center"
            class="search-header action-bar"
            rows="*"
            columns="*,auto,*">
        <!--<NavigationButton [text]="'buttons.back' | i18n" col="0" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>-->
        <Image (tap)="onClose()" android:contentDescription="Back button" class="m-l-10 pull-left"
               col="0" height="25" loadMode="async"
               src="res://ic_action_arrow_back" width="25"></Image>
        <!--<Label col="0" class="m-l-10 pull-left fa" text="&#xf060;" (tap)="onClose()"></Label>-->
        <Label col="1" class="action-bar-title" [text]="'titles.search' | i18n"></Label>
        <!--<Button #searchBtn class="pull-right m-r-10 fa save-search-btn btn" text="&#xf0c7;" col="2"></Button>-->
    </GridLayout>

    <StackLayout *ngIf="!searchModalLoaded">
        <ActivityIndicator verticalAlignment="center" horizontalAlignment="center" [busy]="true"></ActivityIndicator>
    </StackLayout>

    <StackLayout rows="auto,*" columns="*" *ngIf="searchModalLoaded">

        <!--<SegmentedBar
                (selectedIndexChange)="onSelectedIndexChange($event)"
                [(ngModel)]="selectedBarIndex"
                [items]="segments"
                class="search-segmented-bar"
                col="0"
                row="0"></SegmentedBar>-->

        <!--<GridLayout [visibility]="selectedBarIndex === 0 ? 'visible' : 'collapsed'" col="0" columns="*" row="1"
                    rows="auto,*">
            <StackLayout verticalAlignment="center" *ngIf="false">
                <Label class="no-saved-search-icon fa" text="&#xf057;"></Label>
                <Label class="no-saved-search-text" text="No saved search criteria"></Label>
            </StackLayout>

            <im-saved-search-hint row="0"></im-saved-search-hint>

            <RadListView
                #listViewComponent
                (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
                [items]="mySearches"
                class="list-group saved-search-items"
                selectionBehavior="None"
                swipeActions="true"
                row="1"
            >
                <ng-template let-even="even" let-index="index" let-item="item" tkListItemTemplate>
                    <GridLayout class="saved-search-item" columns="*,auto">
                        <Label class="descriptionLabel list-group-item" col="0" [text]="item?.name" [class.even]="even"></Label>
                        <Label class="list-group-item results-matches" col="1" [text]="'hints.searchMatchesCount' | i18n:[item?.resultsCount]" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                </ng-template>

                <GridLayout *tkListItemSwipeTemplate class="gridLayoutLayout swipe-right-container"
                            columns="*, auto, auto" horizontalAlignment="center"
                            verticalAlignment="center">
                    <StackLayout id="execute-view" col="1" class="swipe-action" (tap)="onRunSearchSwipeAction($event)">
                        <Label text="&#xf04b;" class="fa" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout id="delete-view" col="2" class="swipe-action"
                                 (tap)="onRunDeleteSwipeAction($event)">
                        <Label class="fa" hint="delete" horizontalAlignment="center" text="&#xf1f8;"
                               verticalAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
            </RadListView>
        </GridLayout>-->
        <!--<Label [text]="newSearch | json" textWrap="true"></Label>-->

        <GridLayout [visibility]="selectedBarIndex === 0 ? 'visible' : 'collapsed'" col="0" columns="*" row="1"
                    rows="*">

            <GridLayout rows="auto,*,50" columns="*,*" class="form">
                <Button
                        (tap)="newSearch.transactionType = TransactionTypes.RENT"
                        [class.active]="newSearch?.transactionType === TransactionTypes.RENT"
                        [text]="'tabs.rent' | i18n"
                        class="action-btn m-r-5 m-t-10 m-l-10"
                        col="0"
                        height="50"
                        row="0"></Button>

                <Button
                        (tap)="newSearch.transactionType = TransactionTypes.SELL"
                        [class.active]="newSearch?.transactionType === TransactionTypes.SELL"
                        [text]="'tabs.buy' | i18n"
                        class="action-btn m-l-5 m-t-10 m-r-10"
                        col="1"
                        height="50"
                        row="0"></Button>

                <ScrollView col="0" row="1" colSpan="2" class="p-10">
                    <GridLayout class="p-10" columns="*, auto" rows="auto,auto,auto,auto,auto,auto">

                        <GridLayout class="form m-t-10" col="0" columns="*, auto" row="0" rows="auto,auto,auto">
                            <Label [text]="'common.propertyType' | i18n" row="0" col="0" class="option m-b-5"
                                   (tap)="collapsible.searchType = !collapsible.searchType"></Label>
                            <Label text="&#xf107;" class="fa collapse-icon" col="1" row="0"></Label>

                            <FlexboxLayout *ngIf="collapsible.searchType" class="m-b-10"
                                           col="0" colSpan="2" flexDirection="row" flexWrap="wrap"
                                           justifyContent="flex-start"
                                           row="1">

                                <GridLayout class="m-r-10 m-t-10" columns="auto,auto" rows="auto"
                                            *ngFor="let item of propertyTypes">
                                    <CheckBox (checkedChange)="handlePropertyTypeChange($event, item)"
                                              [checked]="newSearch?.type?.includes(item)"
                                              [text]="('product.types.' + item) | i18n"
                                              class="m-b-10" col="0"
                                              fillColor="#00796b"></CheckBox>
                                </GridLayout>

                            </FlexboxLayout>
                            <Label *ngIf="false; else divider"></Label>
                        </GridLayout>

                        <StackLayout row="1" colSpan="2" col="0" class="p-0 m-0">
                            <Label class="option m-b-10 m-t-10" [text]="'common.propertyTypeLabelRent' | i18n"
                                   *ngIf="newSearch.transactionType === 'rent'"></Label>
                            <Label class="option m-b-10 m-t-10" [text]="'common.propertyTypeLabelBudget' | i18n"
                                   *ngIf="newSearch.transactionType === 'sell'"></Label>
                            <!--<Slider [minValue]="0" maxValue="10000"></Slider>-->

                            <GridLayout class="m-0" rows="auto,auto" columns="*,*">
                                <TextField keyboardType="number" returnKeyType="next" class="input input-border m-r-2"
                                           row="0" #slider hint="min"
                                           [(ngModel)]="newSearch.priceMin"
                                           col="0"></TextField>

                                <TextField keyboardType="number" returnKeyType="next" row="0" hint="max"
                                           col="1"
                                           [(ngModel)]="newSearch.priceMax"
                                           class="input input-border m-l-2"></TextField>

                                <Label *ngIf="false; else divider"></Label>
                            </GridLayout>
                        </StackLayout>

                        <StackLayout col="0" row="2" >

                            <ng-container *ngIf="newSearch?.transactionType === TransactionTypes.RENT">
                                <GridLayout
                                        *ngFor="let option of ['nb_months_rental_deposit']"
                                        class="form m-t-10" columns="*, auto" rows="auto,auto,auto">
                                    <Label (tap)="collapsible[option] = !collapsible[option]"
                                           [text]="(('common.' + option) | i18n) + ' '" class="option m-b-5"
                                           col="0"
                                           row="0"></Label>
                                    <Label
                                            class="fa collapse-icon" col="1" row="0" text="&#xf107;"></Label>

                                    <FlexboxLayout *ngIf="collapsible[option]" class="m-b-10" col="0"
                                                   [visibility]="option === 'nb_months_rental_deposit' && newSearch?.transactionType !== TransactionTypes.RENT ? 'collapsed' : 'visible'"
                                                   colSpan="2" flexDirection="row" flexWrap="wrap"
                                                   justifyContent="flex-start"
                                                   row="1">

                                        <GridLayout *ngFor="let item of ['1', '2', '3', '4', '5', '5+']" columns="auto,auto"
                                                    rows="auto">
                                            <!--<Switch verticalAlignment="center" class="m-b-10 m-r-10 m-t-10" [checked]="item == '5+'" col="0"></Switch>
                                            <Label verticalAlignment="center" row="1" col="1" [text]="item" class="label m-b-10 option-label"></Label>-->
                                            <CheckBox (checkedChange)="handleNbRoomsChange($event, item)"
                                                      [checked]="newSearch[option]?.includes(item)"
                                                      [text]="item" class="checkbox m-r-10 m-b-10 m-t-10"
                                                      col="0"
                                                      fillColor="#00796b"></CheckBox>
                                        </GridLayout>

                                    </FlexboxLayout>

                                    <Label *ngIf="false; else divider"></Label>
                                </GridLayout>
                            </ng-container>


                            <GridLayout
                                    *ngFor="let option of ['nb_salons', 'nb_rooms', 'nb_kitchens', 'nb_floors']"
                                    class="form m-t-10" columns="*, auto" rows="auto,auto,auto">
                                <Label (tap)="collapsible[option] = !collapsible[option]"
                                       [text]="(('common.' + option) | i18n) + ' '" class="option m-b-5"
                                       col="0"
                                       row="0"></Label>
                                <Label
                                        class="fa collapse-icon" col="1" row="0" text="&#xf107;"></Label>

                                <FlexboxLayout *ngIf="collapsible[option]" class="m-b-10" col="0"
                                               colSpan="2" flexDirection="row" flexWrap="wrap"
                                               justifyContent="flex-start"
                                               row="1">

                                    <GridLayout *ngFor="let item of ['1', '2', '3', '4', '5', '5+']" columns="auto,auto"
                                                rows="auto">
                                        <!--<Switch verticalAlignment="center" class="m-b-10 m-r-10 m-t-10" [checked]="item == '5+'" col="0"></Switch>
                                        <Label verticalAlignment="center" row="1" col="1" [text]="item" class="label m-b-10 option-label"></Label>-->
                                        <CheckBox (checkedChange)="handleNbRoomsChange($event, item)"
                                                  [checked]="newSearch[option]?.includes(item)"
                                                  [text]="item" class="checkbox m-r-10 m-b-10 m-t-10"
                                                  col="0"
                                                  fillColor="#00796b"></CheckBox>
                                    </GridLayout>

                                </FlexboxLayout>

                                <Label *ngIf="false; else divider"></Label>
                            </GridLayout>

                            <GridLayout columns="auto, *" rows="auto,auto,auto" class="form m-t-10">
                                <Label [text]="('common.parking' | i18n) + ' '" class="option m-b-5"
                                       col="0"
                                       row="0"></Label>

                                <StackLayout
                                        *ngFor="let item of [{label: 'common.yes' | i18n, value: true}, {label: 'common.no' | i18n, value: false}]; let idx = index trackBy: idx;"
                                        class="options" row="1" [col]="idx">
                                    <CheckBox #elem
                                              fillColor="#00796b"
                                              (checkedChange)="elem.checked !== (newSearch?.parking == item?.value) && handleOptionChange($event, item?.value, 'parking')"
                                              [checked]="newSearch?.parking === item?.value"
                                              [text]="item?.label"
                                              boxType="circle"
                                              class="checkbox m-r-1 m-b-10 m-t-5"
                                              horizontalAlignment="center" verticalAlignment="center"></CheckBox>
                                </StackLayout>
                                <Label *ngIf="false; else divider"></Label>
                            </GridLayout>
                        </StackLayout>

                        <GridLayout class="form m-t-10" col="0" columns="*, auto" row="3" rows="auto,auto,auto">
                            <Label (tap)="collapsible.searchType = !collapsible.searchType"
                                   [text]="'common.commodities' | i18n" class="option m-b-5" col="0"
                                   row="0"></Label>
                            <Label text="&#xf107;" class="fa collapse-icon" col="1" row="0"></Label>

                            <FlexboxLayout *ngIf="collapsible.searchType" class="m-b-10"
                                           col="0" colSpan="2" flexDirection="row" flexWrap="wrap"
                                           justifyContent="flex-start"
                                           row="1">

                                <GridLayout class="m-r-10 m-t-10" columns="auto,auto" rows="auto"
                                            *ngFor="let item of CommodityTypes">
                                    <CheckBox (checkedChange)="handleCommodityTypeChange($event, item?.id)"
                                              [checked]="newSearch?.commodities?.includes(item?.id)"
                                              [text]="item?.title"
                                              class="m-b-10"
                                              col="0"
                                              fillColor="#00796b"></CheckBox>
                                </GridLayout>

                            </FlexboxLayout>
                            <Label *ngIf="false; else divider"></Label>
                        </GridLayout>

                        <Button (tap)="openLocationsSearchModal()"
                                [text]="'&#xf276; &nbsp;&nbsp;' +  ('buttons.where' | i18n) + ' (' + newSearch?.locations?.length + ' selections)'"
                                class="btn btn-secondary fa m-b-5"
                                col="0"
                                colSpan="2" height="60" row="4"></Button>

                    </GridLayout>
                </ScrollView>
                <FlexboxLayout class="p-0 m-0 bottom-btns" col="0" colSpan="2" row="2" alignItems="center"
                               justifyContent="space-between">
                    <Button (tap)="openSearchNameDialogue()" [isEnabled]="!searchNameDialogOpened && !savingSearch"
                            [text]="'buttons.save' | i18n" class="m-0 p-0 btn-primary"
                            flexGrow="1"></Button>
                    <Button (tap)="runSearch()" [isEnabled]="!searchNameDialogOpened" [text]="'buttons.run' | i18n"
                            class="m-0 p-0 btn-secondary" flexGrow="1"></Button>
                </FlexboxLayout>
            </GridLayout>

        </GridLayout>
    </StackLayout>
</StackLayout>

<ng-template #divider>
    <Label class="divider" col="0" colSpan="2" row="2"></Label>
</ng-template>
