/* Add mobile styles for the component here.  */
@import "../../../../variables";

.chat-footer {
  .message-box {
    margin-left: 5;
    margin-bottom: 2;
  }

  .send-btn {
    font-size: 30;
    color: $primary;
    margin-right: 10;
    margin-left: 10;
    margin-bottom: 2;
  }
}
