<!--<Page (loaded)="onPageLoaded($event)" (unloaded)="onPageOnloaded($event)">-->
<ActionBar class="action-bar">
    <NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>

    <!--<ActionItem *ngIf="selectedBarIndex !== 1" class="action-items action-filter">
        <Label #filterIcon (tap)="openFilterPopupMenu()" class="fa" text="&#xf160;"></Label>
    </ActionItem>-->

    <GridLayout columns="*" rows="*">
        <GridLayout columns="auto,*,*,*" rows="*">
            <Label class="action-bar-title text-white" *ngIf="selectedConversation"
                   [text]="selectedConversation?.sender?.id === me.id ? selectedConversation?.receiver?.name : selectedConversation?.sender?.name"
                   col="0"></Label>
            <Label class="action-bar-title text-white" *ngIf="receiver?.name"
                   [text]="receiver.name" col="0"></Label>
        </GridLayout>
    </GridLayout>
</ActionBar>


<PreviousNextView>
    <GridLayout backgroundColor="white" rows="*,auto" *ngIf="!(areMessagesLoading$ | async)">
        <ActivityIndicator [busy]="true" horizontalAlignment="center" verticalAlignment="center"
                           *ngIf="areMessagesLoading$ | async"></ActivityIndicator>
        <ListView
            #chatListView
            (loaded)="chatListViewLoaded($event)"
            [items]="chatHistory || []" class="list-group"
            separatorColor="transparent">
            <ng-template let-item="item" let-index="index">
                <im-chat-conversation-item
                        [isMe]="item.trigger === me.id"
                        [index]="index"
                        [message]="item"
                ></im-chat-conversation-item>
            </ng-template>
        </ListView>
        <GridLayout row="1" [height]="60" class="chat-footer form" backgroundColor="#f0ffff" columns="*,auto">
            <TextField col="0" class="message-box input-border input-rounded" hint="Enter text..."
                       [(ngModel)]="messageContent"></TextField>
            <!--<Image col="2" verticalAlignment="center" horizontalAlignment="center" src="res://ic_send" width="60" height="60"></Image>-->
            <ActivityIndicator [busy]="true" col="1" *ngIf="creatingConversation" width="25" horizontalAlignment="left"
                               verticalAlignment="center"></ActivityIndicator>
            <Button width="60" class="fa send-btn" *ngIf="!creatingConversation && messageContent?.trim()?.length" text="&#xf1d8;"
                   verticalAlignment="center" horizontalAlignment="left" col="1" (tap)="sendMessage()"></Button>
        </GridLayout>
    </GridLayout>
</PreviousNextView>


<!--</Page>-->
