<GridLayout [class.is-me]="isMe" [class.is-sending]="message?.status === 'sending'" [row]="1" class="chat-bubble"
            [columns]="isMe ? '60,*' : '*,60'"
            pageTransition="slide" rows="auto,auto">

    <Label [col]="isMe ? 1 : 0" [text]="message?.content" class="content"
           textWrap="true"></Label>
    <ActivityIndicator width="10" *ngIf="message?.status === 'sending'" horizontalAlignment="center"
                       verticalAlignment="center"
                       [col]="isMe ? 0 : 1" [busy]="true" row="0"></ActivityIndicator>
    <Label [col]="isMe ? 1 : 0" [row]="1" [text]="message?.date | moment" class="date"></Label>
</GridLayout>
