/* Add mobile styles for the component here.  */
@import "../../../variables";

.chat-bubble {
  margin-right: 10;
  margin-left: 10;
  margin-top: 5;

  .date {
    font-size: 8;
    opacity: 0.5;
    font-style: italic;
    //margin-left: 8;
    horizontal-align: left;
  }

  .content {
    font-size: 14;
    max-width: 75%;
    min-width: 15%;
    padding: 10;
    background-color: #f1f2f3;
    border-radius: 5;
  }

  &.is-me {
    .date {
      horizontal-align: right;
      //margin-right: 8;
    }

    .content {
      background-color: lighten(#00796b, 20%);
      color: #ffffff;
    }
  }
}
