<!-- Parallex effext got from https://play.nativescript.org/?template=play-ng&id=DXJkOJ&v=9 -->
<ActionBar class="action-bar" title="">
<!--    <NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>-->
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" [text]="'titles.myFavourites' | i18n"></Label>
</ActionBar>

<StackLayout backgroundColor="white" *ngIf="!favourites?.length" horizontalAlignment="center" verticalAlignment="center"
             class="no-favourites form">
    <Label *ngIf="!favourites?.length" class="fa" horizontalAlignment="center" text="&#xf004;"
           verticalAlignment="center"></Label>
    <label [text]="'hints.loginToViewFavourites' | i18n" *ngIf="!authService.isLoggedIn()" textWrap="true"></label>
    <label [text]="'hints.noFavourites' | i18n" *ngIf="authService.isLoggedIn()" textWrap="true"></label>
    <Button *ngIf="!authService.isLoggedIn()" (tap)="onLoginRequested()" [text]="'buttons.login' | i18n"
            class="btn btn-primary btn-rounded-sm"></Button>
</StackLayout>
<ListView backgroundColor="white"
        (itemTap)="onItemTap($event)"
        *ngIf="favourites?.length" [items]="favourites" class="list-group">
    <ng-template let-favourite="item" let-index="index">
        <im-post-item
                [favourite]="favourite"
                [product]="favourite?.product"
                [index]="index"
        ></im-post-item>
    </ng-template>
</ListView>
<!--<GridLayout row="0" tkExampleTitle tkToggleNavButton>
&lt;!&ndash;    <RadListView
            *ngIf="favourites?.length"
            [items]="favourites">
        <ng-template tkListItemTemplate let-item="item" let-index="index">
            <im-post-item
                    [favourite]="item"
                    [product]="item?.product"
                    [index]="index"
            ></im-post-item>
        </ng-template>
    </RadListView>&ndash;&gt;
</GridLayout>-->
