@import "variables";
// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';
@import "theme";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
* {
  font-family: "sans-serif", serif;
}

Label {
  font-size: 10;
}

.fa {
  font-family: "FontAwesome";
  text-transform: none;
}

TextField {
  placeholder-color: $disabled;
  color: black;
}

/*.far {
    font-family: "FontAwesome", fa-regular-400;
    font-weight: 400;
}

.fab {
    font-family: "FontAwesome", fa-brands-400;
    font-weight: 400;
}

.fas {
    font-family: "FontAwesome", fa-solid-900;
    font-weight: 900;
}*/

Page {
  background-color: white;
}
.action-bar {
  background-color: $primary;
}

.activity-indicator,
ActivityIndicator {
  //color: $primary !important;
}

.action-bar-title {
  font-size: $action-title-font-size;
}

// Common page class
.page-content {
  .page-placeholder {
    color: $page-icon-color;
    font-size: $page-content-placeholder-font-size;
    vertical-align: center;
    horizontal-align: center;
  }

  .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    color: $page-icon-color;
    margin-top: 20%;
  }
}

//Action bar
ActionBar .action-bar-title {
  horizontal-align: center;
}

// Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
  &.sidedrawer-left {
    background-color: $ab-background;

    .sidedrawer-header-image {
      color: $background-dark;
      height: $sidedrawer-header-image-size;
      width: $sidedrawer-header-image-size;
      font-size: $sidedrawer-header-image-size;
      padding: 0;
      margin-bottom: $sidedrawer-header-image-offset-bottom;
      margin-top: $sidedrawer-header-image-offset-top;
    }

    .footnote {
      color: rgba($ab-color, 0.5);
    }
  }

  .sidedrawer-header-section {
    background-color: $primary;
    border-bottom-width: 10;
    border-bottom-color: $secondary;
    height: 160;

    Label {
      padding-left: 5;
    }
  }

  .sidedrawer-header {
    //background-color: $ab-background;

    .sidedrawer-header-brand {
      color: $ab-color;
    }
  }

  .sidedrawer-content {
    background-color: $side-drawer-background;

    $sidedrawer-list-item-offset-left: 15;
    $sidedrawer-list-icon-offset: 10;
    $sidedrawer-list-icon-size: 20;

    .sidedrawer-list-item {
      padding-left: $sidedrawer-list-item-offset-left;

      Label {
        vertical-align: center;
        color: $blue-dark;
        font-size: 18;
      }

      .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
      }

      &.selected {
        background-color: $item-active-background;

        Label {
          color: $primary;
        }
      }
    }
  }
}

.saved-search-items {
  background-color: #ffffff;

  .saved-search-item {
    height: 60;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #FFFFFF;
    border-top-width: 0;

    Label {
      font-size: 16;
      color: black;
    }

    .swipe-right-container {
      .swipe-action {
        margin-bottom: 15;
      }
    }
  }

  .swipe-action {
    color: $text-color-white;
    font-size: 20;
    text-align: center;
    border-width: 0;
    padding: 20;

    Label {
      color: $text-color-white;
      font-size: 18;
    }
  }
}

ActionBar .fa {
  padding: 40px;
}

.no-searches,
.no-favourites,
.no-notifications,
.no-conversations,
.no-properties,
.no-settings {
  Label {
    color: $disabled;
    font-size: 18;
    vertical-align: center;
    horizontal-align: center;
    text-align: center;

    &.fa {
      font-size: 150;
      margin-bottom: 10;
    }
  }
}

.text-primary {
  color: $primary;
}

.bg-primary {
  background-color: $primary;
}

.badge.messages-count {
  border-radius: 50;
  margin-right: 6;
  background-color: red;
  width: 25;
  text-align: center;
  height: 25;
}

CheckBox {
  tint-color: $primary;
  fill-color: $primary;
}
