<ActionBar class="action-bar" title="">
    <!--<NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back" (tap)="onBackTap($event)"></NavigationButton>-->
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" [text]="'titles.publish' | i18n"></Label>
</ActionBar>

<ScrollView [formGroup]="form" [visibility]="!publishSuccess ? 'visible': 'collapsed'" orientation="vertical" backgroundColor="white">

    <ActivityIndicator horizontalAlignment="center" verticalAlignment="center" busy="true" *ngIf="!loaded"></ActivityIndicator>

    <StackLayout *ngIf="loaded"  class="publish-view">
        <GridLayout class="m-b-10" columns="*,*" height="50" row="50">
            <Button (tap)="form?.get('transaction_type')?.setValue('rent')"
                    [class.active]="form.value['transaction_type'] === 'rent'"
                    [text]="'tabs.forRent' | i18n" class="action-btn m-r-5 m-t-10 m-l-10"
                    col="0"></Button>
            <Button (tap)="form?.get('transaction_type')?.setValue('sell')"
                    [class.active]="form.value['transaction_type'] !== 'rent'"
                    [text]="'tabs.forSell' | i18n" class="action-btn m-r-5 m-t-10 m-l-10"
                    col="1"></Button>
        </GridLayout>

        <Label class="h6 m-b-15" verticalAlignment="center" horizontalAlignment="center">
            <Span class="font-weight-bold" [text]="'hints.requiredFieldsInfo.partOne' | i18n"></Span>
            <Span class="font-weight-bold" [text]="'*'" color="red"></Span>
            <Span class="font-weight-bold" [text]="'hints.requiredFieldsInfo.partTwo' | i18n"></Span>
        </Label>

        <GridLayout class="form m-r-5 m-l-5 m-t-15" columns="*" rows="auto,auto,auto,110,auto,auto">
            <Label row="0" col="0">
                <FormattedString>
                    <Span [text]="'hints.title' | i18n" class="fa"></Span>
                    <Span text="*" color="red"></Span>
                </FormattedString>
            </Label>
            <TextField [hint]="'hints.title' | i18n" class="input input-border m-t-5" formControlName="title"
                       returnKeyType="next" row="1"></TextField>

            <Label row="2" col="0">
                <FormattedString>
                    <Span [text]="'hints.description' | i18n" class="fa"></Span>
                    <Span text="*" color="red"></Span>
                </FormattedString>
            </Label>
            <TextView [hint]="'hints.description' | i18n" class="input input-border m-t-5" formControlName="description"
                      returnKeyType="next" row="3"></TextView>

            <Label row="4" col="0">
                <FormattedString>
                    <Span [text]="'hints.price' | i18n" class="fa"></Span>
                    <Span text="*" color="red"></Span>
                </FormattedString>
            </Label>
            <TextField [hint]="'hints.price' | i18n" class="input input-border m-t-5" formControlName="price"
                       keyboardType="number"
                       returnKeyType="next" row="5"></TextField>
        </GridLayout>

        <GridLayout class="form m-t-10 m-r-5 m-l-5" col="0" columns="*, *" formGroupName="location"
                    rows="auto,auto,auto,auto,auto,auto,auto">
            <Label [text]="'common.location' | i18n"
                   class="option m-b-5" col="0"
                   row="0"></Label>

            <Label row="1" col="0">
                <FormattedString>
                    <Span [text]="'hints.city' | i18n" class="fa"></Span>
                    <Span text="*" color="red"></Span>
                </FormattedString>
            </Label>
            <TextField [hint]="'hints.city' | i18n" class="input input-border m-t-5" colSpan="2"
                       formControlName="city" returnKeyType="next" row="2"></TextField>

            <Label row="3" col="0">
                <FormattedString>
                    <Span [text]="'hints.latitude' | i18n" class="fa"></Span>
                    <Span text="*" color="red"></Span>
                </FormattedString>
            </Label>
            <TextField [hint]="'hints.latitude' | i18n" class="input input-border m-t-5 m-r-2"
                       col="0"
                       formControlName="latitude" keyboardType="number" returnKeyType="next" row="4"></TextField>

            <Label row="3" col="1">
                <FormattedString>
                    <Span [text]="'hints.longitude' | i18n" class="fa"></Span>
                    <Span text="*" color="red"></Span>
                </FormattedString>
            </Label>
            <TextField [hint]="'hints.longitude' | i18n" class="input input-border m-t-5 m-l-2"
                       col="1"
                       formControlName="longitude" keyboardType="number" returnKeyType="next" row="4"></TextField>

            <Label class="divider" col="0" colSpan="2" row="5"></Label>
        </GridLayout>

        <GridLayout class="form m-t-10 m-r-5 m-l-5" col="0" columns="*, auto"
                    rows="auto,auto,auto">
            <Label (tap)="collapsible.propertyType = !collapsible.propertyType"
                    row="0" col="0" class="option m-b-5">
                <Span [text]="'common.propertyType' | i18n"></Span>
                <Span text="*" color="red"></Span>
            </Label>
            <Label text="&#xf107;" class="fa collapse-icon" col="1" row="0"></Label>

            <WrapLayout [visibility]="!collapsible.propertyType?'collapsed':'visible'" class="m-b-10 m-t-10"
                        col="0" colSpan="2"
                        row="1">

                <ng-container *ngFor="let item of propertyTypes; let idx=index; trackBy: idx">
                    <CheckBox #pptyTypeElem
                              (checkedChange)="pptyTypeElem.checked !== (form.value['type'] === item?.id) && handlePropertyChange($event, item?.id, 'type')"
                              [checked]="form.value['type'] === item?.id"
                              [text]="item?.title"
                              boxType="circle"
                              class="checkbox m-r-8 m-b-10 m-t-5"
                              fillColor="#00796b"
                              horizontalAlignment="center" verticalAlignment="center"></CheckBox>
                </ng-container>

            </WrapLayout>
            <Label *ngIf="false; else divider"></Label>
        </GridLayout>

        <GridLayout class="form m-t-10 m-r-5 m-l-5" col="0" columns="*, auto" rows="auto,auto,auto"
                    formGroupName="commodities">
            <Label (tap)="collapsible.commodities = !collapsible.commodities" [text]="'common.commodities' | i18n"
                   class="option m-b-5" col="0"
                   row="0"></Label>
            <Label text="&#xf107;" class="fa collapse-icon" col="1" row="0"></Label>

            <WrapLayout [visibility]="collapsible.commodities ? 'visible' : 'collapsed'" class="m-b-10 m-t-10"
                        col="0" colSpan="2"
                        row="1">

                <WrapLayout *ngFor="let item of propertyCommodities" class="m-r-10 m-t-5">
                    <!--<Label [text]="item.title" class="m-b-5 switch-label"></Label>-->

                    <CheckBox (checkedChange)="handlePropertyOfTyArrayChange($event, item?.id, 'commodities')"
                              [text]="item?.title"
                              [checked]="form?.value?.commodities[item?.id]"
                              class="m-b-10"
                              col="0"
                              fillColor="#00796b"></CheckBox>
                    <!--<Switch [checked]="false" [formControlName]="item.id"></Switch>-->
                </WrapLayout>

            </WrapLayout>
            <Label *ngIf="false; else divider"></Label>
        </GridLayout>

        <!--Options-->
        <GridLayout class="form m-t-10 m-r-5 m-l-5" col="0" columns="*, auto" rows="auto,auto,auto,auto,auto,auto"
                    formGroupName="options">
            <Label (tap)="collapsible.options = !collapsible.options" class="option m-b-5" col="0"
                   row="0"
                   [text]="('common.options' | i18n) + ' '"></Label>
            <Label text="&#xf107;" class="fa collapse-icon" col="1" row="0"></Label>

            <StackLayout [visibility]="collapsible.options ? 'visible' : 'collapsed'"
                         class="options-group p-r-5 p-l-5"
                         row="1">

                <TextField [hint]="'hints.reference' | i18n" class="input input-border m-t-15"
                           returnKeyType="next" formControlName="reference"></TextField>

                <TextField [hint]="'hints.area' | i18n" class="input input-border m-t-15"
                           returnKeyType="next" formControlName="area"></TextField>

                <!--<TextField [hint]="'hints.parking' | i18n" class="input input-border m-t-10"
                           keyboardType="number" returnKeyType="next" formControlName="parking"></TextField>-->

                <ng-container
                        *ngFor="let option of options"
                >
                    <Label [text]="('common.' + option) | i18n" horizontalAlignment="left"
                           class="option m-b-5 m-t-25"
                           [visibility]="option === 'nb_months_rental_deposit' && form?.value?.transaction_type !== TransactionTypes.RENT ? 'collapsed' : 'visible'"
                    ></Label>
                    <WrapLayout
                            [visibility]="option === 'nb_months_rental_deposit' && form?.value?.transaction_type !== TransactionTypes.RENT ? 'collapsed' : 'visible'"
                    >

                        <StackLayout *ngFor="let item of nbChoices; let idx = index trackBy: idx;" class="options">
                            <!--<Label verticalAlignment="center" horizontalAlignment="center" [text]="item"
                                   class="switch-label m-r-0 m-b-2"></Label>-->
                            <!--<Switch verticalAlignment="center" horizontalAlignment="center"
                                    [textContent]="item"
                                    [formControlName]="option"
                                     class="checkbox m-r-8 m-b-10 m-t-5"></Switch>-->
                            <CheckBox #elem
                                      fillColor="#00796b"
                                      (checkedChange)="elem.checked !== (form.value['options'][option] === item) && handleOptionNumberChange($event, item, option)"
                                      [checked]="form.value['options'][option] === item"
                                      [text]="item"
                                      boxType="circle"
                                      class="checkbox m-r-8 m-b-10 m-t-5"
                                      horizontalAlignment="center" verticalAlignment="center"></CheckBox>
                        </StackLayout>

                    </WrapLayout>
                </ng-container>

                <GridLayout columns="auto, *" rows="auto,auto,auto" class="form m-t-10">
                    <Label [text]="('common.parking' | i18n) + ' '" class="option m-b-5"
                           col="0"
                           row="0"></Label>

                    <StackLayout
                            *ngFor="let item of [{label: 'common.yes' | i18n, value: true}, {label: 'common.no' | i18n, value: false}]; let idx = index trackBy: idx;"
                            class="options" row="1" [col]="idx">
                        <CheckBox #elem
                                  fillColor="#00796b"
                                  (checkedChange)="elem.checked !== (form.value['options']['parking'] === item?.value) && handleOptionNumberChange($event, item?.value, 'parking')"
                                  [checked]="form.value['options']['parking'] === item?.value"
                                  [text]="item?.label"
                                  boxType="circle"
                                  class="checkbox m-r-1 m-b-10 m-t-5"
                                  horizontalAlignment="center" verticalAlignment="center"></CheckBox>
                    </StackLayout>
                    <!--<Label *ngIf="false; else divider"></Label>-->
                </GridLayout>
            </StackLayout>

            <Label *ngIf="false; else divider"></Label>
        </GridLayout>

        <Label>
            <FormattedString>
                <Span [text]="'buttons.selectImages' | i18n" class="fa"></Span>
                <Span text="*" color="red"></Span>
            </FormattedString>
        </Label>
        <Button [text]="'buttons.selectImages' | i18n" (tap)="openPicturePicker()" class="action-btn"></Button>

        <FlexboxLayout flexWrap="wrap" class="m-r-5 m-l-5 m-t-8">
            <AbsoluteLayout *ngFor="let img of images">
                <Image [src]="img" width="75" height="75" stretch="aspectFill" class="img-rounded m-4" loadMode="async"></Image>
                <Label text="&#xf068;" class="fa remove-image-icon" top="0" left="0" (tap)="removeImage(img)"></Label>
            </AbsoluteLayout>
        </FlexboxLayout>

        <Button (tap)="publish()" [class.btn-disabled]="!form?.valid || !images?.length"
                [class.btn-primary]="form?.valid && images?.length"
                [isEnabled]="form?.valid && images?.length > 0" [text]="'buttons.publish' | i18n"
                class=" m-t-24 m-b-30"></Button>

        <!--<Label [text]="'IS VALID =>' + form.valid" textWrap="true"></Label>
        <Label [text]="form.value | json" textWrap="true"></Label>
        <Label [text]="form.errors | json" textWrap="true"></Label>-->
    </StackLayout>
</ScrollView>

<StackLayout [visibility]="publishSuccess ? 'visible': 'collapsed'" class="success-view"
             horizontalAlignment="center" verticalAlignment="center">
    <Label class="fa icon" horizontalAlignment="center" text="&#xf058;" verticalAlignment="center"></Label>
    <Label [text]="'common.publishSuccess' | i18n" class="message m-t-20 p-r-10 p-l-10" horizontalAlignment="center"
           textAlignment="center"
           textWrap="true" verticalAlignment="center"></Label>

    <Button class="m-t-30" [text]="'buttons.publishAgain' | i18n" (tap)="rePublish()"></Button>
</StackLayout>

<ng-template #divider>
    <Label class="divider" col="0" colSpan="2" row="2"></Label>
</ng-template>
