/* Add mobile styles for the component here.  */
@import "../../../variables";

.publish-view {
  .divider {
    border-bottom-width: 1;
    border-bottom-color: $disabled;
    opacity: 0.4;
  }

  .option,
  .collapse-icon {
    font-size: 16;
    font-weight: bold;
  }

  .collapse-icon {
    color: $disabled;
  }

  .remove-image-icon {
    width: 20;
    height: 20;
    border-radius: 50;
    background-color: red;
    color: white;
    font-size: 12;
    vertical-align: center;
    horizontal-align: center;
    text-align: center;
    padding-top: 4;
  }

  .action-btn {
    border-width: 0;
    min-height: 60;
    background-color: $secondary;
    color: $text-color-white;

    &.active {
      background-color: $primary;
    }
  }

  TextField,
  TextView {
    border-width: .5;
    padding-left: 5;
    border-color: $disabled;
    color: $text-color-black;
    margin-bottom: 10;
  }

  TextView {
    padding-top: 5;
  }

  GridLayout.form {
    margin-bottom: 15;
  }

  .switch-label {
    font-size: 14;
  }

  StackLayout {
    Label, Switch {
      text-align: center;
    }
  }
}

.success-view {
  .icon {
    font-size: 150;
    color: green;
  }

  .message {
    font-size: 14;
  }

  .btn-disabled {
    background-color: $disabled !important;
  }
}
