/* Add mobile styles for the component here.  */
@import "../../../variables";

.results-matches {
  font-size: 13;
  opacity: 0.6;
}

.swipe-right-container {
  color: white;
  border-width: 1;
  background-color: orange;

  #delete-view {
    background-color: $error-dark;
    height: 100;
  }

  #execute-view {
    background-color: $secondary;
    height: inherit;
  }
}

.no-saved-search-icon {
  vertical-align: center;
  horizontal-align: center;
  color: $disabled;
  font-size: 100;
}

.no-saved-search-text {
  vertical-align: center;
  horizontal-align: center;
  color: $disabled;
  font-size: 18;
}

Label {
  color: black;
}
