<!-- Parallex effext got from https://play.nativescript.org/?template=play-ng&id=DXJkOJ&v=9 -->
<ActionBar class="action-bar" title="">
    <!--<NavigationButton [text]="'buttons.back' | i18n" android.systemIcon="ic_menu_back"
                      (tap)="onBackTap($event)"></NavigationButton>-->
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" [text]="'titles.mySearches' | i18n"></Label>
</ActionBar>

<GridLayout rows="*">

    <StackLayout row="0" verticalAlignment="center" *ngIf="!mySearches?.length" class="no-searches"
                 backgroundColor="white">
        <!--<Label class="no-saved-search-icon fa" text="&#xf057;"></Label>
        <Label class="no-saved-search-text" text="No saved search criteria"></Label>-->
        <Label *ngIf="!mySearches?.length" class="fa" horizontalAlignment="center" text="&#xf057;"
               verticalAlignment="center"></Label>
        <label [text]="'hints.loginToViewSearches' | i18n" *ngIf="!authService.isLoggedIn()" textWrap="true"></label>
        <label [text]="'hints.noSearches' | i18n" *ngIf="authService.isLoggedIn()" textWrap="true"></label>
        <Button *ngIf="!authService.isLoggedIn()" (tap)="onLoginRequested()" [text]="'buttons.login' | i18n"
                class="btn btn-primary btn-rounded-sm"></Button>
    </StackLayout>

    <StackLayout row="0">
        <im-saved-search-hint *ngIf="authService.isLoggedIn()"></im-saved-search-hint>
        <!--<Label [text]="mySearches | json" textWrap="true"></Label>-->
        <!--<RadListView
            #listView
            [items]="mySearches"
            loadOnDemandMode="Auto"
            loadOnDemandBufferSize="5">
            <ListViewLinearLayout
                    tkListViewLayout
                    itemInsertAnimation="Default"
                    itemDeleteAnimation="Default"
                    itemHeight="60">
                <ng-template tkListItemTemplate let-agency="item" let-index="index">
                    <StackLayout>
                        <Label text="Hello"></Label>
                    </StackLayout>
                </ng-template>
            </ListViewLinearLayout>
        </RadListView>-->

        <ListView height="100%" android:visibility="collapsed" class="list-group saved-search-items" [items]="mySearches" (itemTap)="onItemTap($event)">
            <ng-template let-even="even" let-index="index" let-item="item"  >
                <GridLayout class="saved-search-item" columns="*,auto">
                    <Label class="descriptionLabel list-group-item" col="0" [text]="item?.name"
                           [class.even]="even"></Label>
                    <Label class="list-group-item results-matches" col="1"
                           [text]="'hints.searchMatchesCount' | i18n:[item?.resultsCount]"
                           verticalAlignment="center"
                           horizontalAlignment="center"></Label>
                </GridLayout>
            </ng-template>
        </ListView>

        <RadListView
                *ngIf="mySearches?.length"
                #listViewComponent
                (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
                [items]="mySearches"
                class="list-group saved-search-items"
                selectionBehavior="None"
                swipeActions="true"
                ios:visibility="collapsed"
        >
            <ListViewLinearLayout
                    tkListViewLayout
                    itemInsertAnimation="Default"
                    itemDeleteAnimation="Default"
                    itemHeight="60">
                <ng-template let-even="even" let-index="index" let-item="item" tkListItemTemplate>
                    <GridLayout class="saved-search-item" columns="*,auto">
                        <Label class="descriptionLabel list-group-item" col="0" [text]="item?.name"
                               [class.even]="even"></Label>
                        <Label class="list-group-item results-matches" col="1"
                               [text]="'hints.searchMatchesCount' | i18n:[item?.resultsCount]"
                               verticalAlignment="center"
                               horizontalAlignment="center"></Label>
                    </GridLayout>
                </ng-template>

                <GridLayout *tkListItemSwipeTemplate class="gridLayoutLayout swipe-right-container"
                            columns="*, auto, auto" horizontalAlignment="center"
                            verticalAlignment="center">
                    <StackLayout id="execute-view" col="1" class="swipe-action p-15"
                                 (tap)="onRunSearchSwipeAction($event)">
                        <Label text="&#xf04b;" class="swipeTemplateLabel fa" verticalAlignment="center"
                               horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout id="delete-view" col="2" class="swipe-action p-15"
                                 (tap)="onRunDeleteSwipeAction($event)">
                        <Label class="swipeTemplateLabel fa" hint="delete" horizontalAlignment="center" text="&#xf1f8;"
                               verticalAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
            </ListViewLinearLayout>

        </RadListView>
    </StackLayout>
</GridLayout>
